<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}


<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="../dashboard/dashboard">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="search">Search for a LPA user</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a href="search">Go back to Search for a LPA user</a></p>

  </div>
</nav>

<div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Direct Payments to Contractors (DPC)<span class="nhsuk-u-visually-hidden">-</span></span></span>Manage LPA user</h1>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <form method="post">
          <div class="nhsuk-grid-column-two-thirds">

            {% if data['status'] == 'Inactive' %}
            <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>This user account is currently inactive.</p>
            </div>
             {% endif %}

            <h2 class="nhsuk-heading-m">Account details</h2>
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  User ID
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['user-id'] %}{{ data['user-id'] }}{% else %}5HG00A{% endif %}
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Work group
                </dt>
                <dd class="nhsuk-summary-list__value">
                  LPP
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Active date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  8 August 2002
                </dd>
              </div>
              {% if data['status'] == 'Inactive'%}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Inactive date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  14 October 2022
                </dd>
              </div>
              {% endif %}
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Account status
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['status'] == 'Inactive'%}
                   Inactive
                  {% else %}
                  Active
                  {% endif %}
                </dd>
              </div>
            </dl>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Is this account locked?
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p>We are unable to check if a user account is locked. If an account is locked, the user will be informed when trying to log in to the local payments application (LPA).</p>

              </div>
            </details>

            <h2 class="nhsuk-heading-m">Contact details</h2>
            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['LAP-name'] %}{{ data['LAP-name'] }}{% else %}Ashton, Leigh & Wigan{% endif %}
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Email
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['email'] %}{{ data['email'] }}{% else %}email@email.com{% endif %}
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Telephone number
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {% if data['telephone'] %}{{ data['telephone'] }}{% else %}07971721980{% endif %}
                </dd>
              </div>
            </dl>
         </div>
         <div class="nhsuk-grid-column-one-third">
           {% if data['status'] == 'Inactive' %}
           <div  class="action-block">
           <h2 class="nhsuk-heading-m">What you can do</h2>
              <ul class="nhsuk-list">
                <li><a class="nhsuk-link--no-visited-state" href="activate-user">Activate user</a></li>
              </ul>
            </div>
            {% else %}
            <div  class="action-block">
            <h2 class="nhsuk-heading-m">What you can do</h2>
               <ul class="nhsuk-list">
                 <li><a class="nhsuk-link--no-visited-state" href="change-contact">Change contact details</a></li>
                 <li><a class="nhsuk-link--no-visited-state" href="change-password">Change password</a></li>
                 <li><a class="nhsuk-link--no-visited-state" href="unlock-user">Unlock user</a></li>
                 <li><a class="nhsuk-link--no-visited-state" href="inactivate-user">Deactivate user</a></li>
               </ul>
             </div>
            {% endif %}
        </div>
        </form>
       </div>


    </main>
</div>

  {% endblock %}
</body>

</html>
