<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

  <nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="../../dashboard/dashboard" class="nhsuk-link--no-visited-state">Dashboard</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="../payment-runs" class="nhsuk-link--no-visited-state">Payment runs</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="../PH-payment-runs" class="nhsuk-link--no-visited-state">{% if data['payment-type']%}{{ data['payment-type']}}{% else %}Appliance Contractors{% endif %}</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="september-3" class="nhsuk-link--no-visited-state">September 2021</a></li>
          </ol>

        </div>
      </div>

      <p class="nhsuk-breadcrumb__back"><a href="september-3" class="nhsuk-link--no-visited-state">September 2021</a></p>

    </div>
  </nav>

  <div class="nhsuk-width-container {{ containerClasses }}">
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
            <h2 class="nhsuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="nhsuk-error-summary__body">
              <p>
                Number of ETP items from ETP and controls do not match. You will need to...
              </p>
            </div>
          </div>

          <h1><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">{% if data['payment-type']%}{{ data['payment-type']}}{% else %}Appliance Contractors{% endif %} <span
          class="nhsuk-u-visually-hidden">-</span></span></span> Load ETP data</h1>

          <!--<div class="nhsuk-inset-text nhsuk-inset-text-success">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Number of ETP items from ETP and controls match.</p>
          </div>-->

          <div class="nhsuk-inset-text nhsuk-inset-text-fail">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Number of ETP items from ETP and controls do not match. You will need to...</p>
          </div>

          <form action="september-4-error" method="post">

          <button class="nhsuk-button" type="submit">
            Return to payment run steps
          </button>

          </form>

        </div>

      </div>

      <script>
       function setLocation(element) {
               document.forms[0].action = element.value
       }
      </script>

    </main>
  </div>
  {% endblock %}
</body>

</html>
