// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/related-nav';

// Patterns that are not in the NHS.UK frontend library
@import "patterns/task-list";
@import "patterns/pagination";
@import "components/autocomplete"; // testing out the add test result page / had to create a custom component as autocomplete is used on the search



/* ==========================================================================
   COMPONENTS/ #SUMMARY-LIST-PAYMENT-RUN
   ========================================================================== */
/**
 * Original code taken from GDS (Government Digital Service)
 * https://github.com/alphagov/govuk-frontend
 *
 * 1. Required to allow us to wrap words that overflow.
 * 2. Reset default user agent styles
 * 3. Automatic wrapping for unbreakable text (e.g. URLs)
 * 4. Fallback for older browsers only
 */

 .autocomplete__input {
     max-width: 41ex;
 }

.nhsuk-summary-list-payment-run {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  /* [2] */
  margin-bottom: 32px;
}
@media (min-width: 40.0625em) {
  .nhsuk-summary-list-payment-run {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media print {
  .nhsuk-summary-list-payment-run {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media (min-width: 40.0625em) {
  .nhsuk-summary-list-payment-run {
    display: table;
    table-layout: fixed;
    /* [1] */
    width: 100%;
  }
}
@media (min-width: 40.0625em) {
  .nhsuk-summary-list-payment-run {
    margin-bottom: 40px;
  }
}

@media (min-width: 40.0525em) {
  .nhsuk-summary-list-payment-run__row {
    border-bottom: 1px solid #d8dde0;
    margin-bottom: 16px;
  }
}
@media (min-width: 40.0625em) {
  .nhsuk-summary-list-payment-run__row {
    display: table-row;
  }
}

.nhsuk-summary-list-payment-run__key,
.nhsuk-summary-list-payment-run__value,
.nhsuk-summary-list-payment-run__actions {
  margin: 0;
  /* [2] */
  vertical-align: top;
}
@media (min-width: 40.0625em) {
  .nhsuk-summary-list-payment-run__key,
.nhsuk-summary-list-payment-run__value,
.nhsuk-summary-list-payment-run__actions {
    border-bottom: 1px solid #d8dde0;
    display: table-cell;
    padding-bottom: 8px;
    padding-right: 24px;
    padding-top: 8px;
  }
}

.nhsuk-summary-list-payment-run__actions {
  margin-bottom: 16px;
}
@media (min-width: 40.0625em) {
  .nhsuk-summary-list-payment-run__actions {
    padding-right: 0;
    text-align: right;
    width: 20%;
  }
}

.nhsuk-summary-list-payment-run__key,
.nhsuk-summary-list-payment-run__value {
  /* [3] */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* [4] */
}

.nhsuk-summary-list-payment-run__key {
  font-weight: 600;
  margin-bottom: 4px;
}
@media (min-width: 40.0625em) {
  .nhsuk-summary-list-payment-run__key {
    width: 30%;
  }
}

@media (min-width: 40.0525em) {
  .nhsuk-summary-list-payment-run__value {
    margin-bottom: 16px;
  }
}
@media (min-width: 40.0625em) {
  .nhsuk-summary-list-payment-run__value {
    width: 50%;
  }
}

.nhsuk-summary-list-payment-run__value > p {
  margin-bottom: 8px;
}

.nhsuk-summary-list-payment-run__value > :last-child {
  margin-bottom: 0;
}

.nhsuk-summary-list-payment-run__actions-list {
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  width: 100%;
}

.nhsuk-summary-list-payment-run__actions-list-item {
  display: inline;
  margin-right: 8px;
  padding-right: 8px;
}

.nhsuk-summary-list-payment-run__actions-list-item:not(:last-child) {
  border-right: 1px solid #d8dde0;
}

.nhsuk-summary-list-payment-run__actions-list-item:last-child {
  border: 0;
  margin-right: 0;
  padding-right: 0;
}

.nhsuk-summary-list-payment-run--no-border .nhsuk-summary-list-payment-run__key,
.nhsuk-summary-list-payment-run--no-border .nhsuk-summary-list-payment-run__value,
.nhsuk-summary-list-payment-run--no-border .nhsuk-summary-list-payment-run__actions,
.nhsuk-summary-list-payment-run--no-border .nhsuk-summary-list-payment-run__row {
  border: 0;
}


///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.nhsuk-currency-input__inner__unit {
  position: absolute;
  bottom: 6px;
  left: 10px;
  font-size: 19px;
  font-weight: bold; }

.action-block {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 20px; }

.nhsuk-width-container {
    max-width: 1020px;
}

.nhsuk-grid-column-60 {
  box-sizing: border-box;
  padding: 0 16px;
}
@media (min-width: 48.0625em) {
  .nhsuk-grid-column-60 {
    float: left;
    width: 60%;
  }
}

.nhsuk-grid-column-40 {
  box-sizing: border-box;
  padding: 0 16px;
}
@media (min-width: 48.0625em) {
  .nhsuk-grid-column-40 {
    float: left;
    width: 40%;
  }
}

.nhsuk-button--small {
  font-size: 1em;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
}

.nhsuk-summary-list__settings {
  width: 100%;
}

.nhsuk-summary-list__valuesettings {
  width: 20%;
  padding-bottom: 0px;
  padding-top: 4px;
}

.nhsuk-summary-list__contact {
  width: 50%;
}

// Footer

.app-ogl-footer {
    background-color: #d8dde0
}

.app-ogl-footer--text {
    font-weight: 400;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.71429;
    padding-bottom: 24px;
    color: #4c6272;
    margin-bottom: 0;
    padding-bottom: 24px
}

@media (min-width: 40.0625em) {
    .app-ogl-footer--text {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5
    }
}

@media print {
    .app-ogl-footer--text {
        font-size: 14pt;
        line-height: 1.2
    }
}

@media (min-width: 40.0625em) {
    .app-ogl-footer--text {
        padding-bottom: 32px
    }
}

.app-ogl-footer--text svg {
    margin-right: 8px;
    position: relative;
    top: 2px
}

// Hub

.beta-hub-main-topic .beta-card__content {
    padding-right: 75px
}

.beta-hub-main-topic .beta-hub-arrow {
    display: block;
    margin-top: -8px;
    position: absolute;
    right: 24px;
    top: 50%
}

.beta-icon__chevron-right-circle {
    fill: #005eb8
}

// HEADER

.nhsBSA-breadcrumb {
    border-bottom: #ccc 1px solid;
}

.nhsuk-header__signedin-link {
    @include nhsuk-font(16);
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color: $color_nhsuk-white;
    display: block;
    padding: 6px nhsuk-spacing(3);
    text-decoration: none;

    .nhsuk-icon__chevron-right {
      fill: $color_nhsuk-grey-3;
      position: absolute;
      right: nhsuk-spacing(1);
      top: 11px;
    }

    &:visited {
      @include mq($from: large-desktop) {
        color: $color_nhsuk-white;
      }
    }

    &:hover {
      background-color: $color_shade_nhsuk-blue-35;
      box-shadow: none;
      color: $color_nhsuk-white;
      text-decoration: underline;

      .nhsuk-icon__chevron-right {
        fill: $color_nhsuk-blue;
      }

    }

    &:active,
    &:focus {
      background-color: $nhsuk-focus-color;
      border-bottom: $nhsuk-focus-width solid $nhsuk-focus-text-color;
      box-shadow: none;
      color: $nhsuk-focus-text-color;
      outline: $nhsuk-focus-width solid transparent;
      outline-offset: $nhsuk-focus-width;
      text-decoration: none;

      &:hover {
        background-color: $nhsuk-focus-color;
        color: $nhsuk-focus-text-color;
      }

      &:visited {
        background-color: $nhsuk-focus-color;
        color: $nhsuk-focus-text-color;
      }
    }

  }

  // FLOAT RIGHT (REMOVE FLOAT ON MOBILE)

  .nhsuk-u-float-right {
    @include mq($until: desktop) {
      float: none !important;
    }
  }
