<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

  <nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="../dashboard/dashboard">Dashboard</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="payment-runs">Payment runs</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="PH-payment-runs">Pharmacy (PH)</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="javascript:history.go(-1)">September 2021</a></li>
          </ol>

        </div>
      </div>

      <p class="nhsuk-breadcrumb__back"><a href="november-1">September 2021</a></p>

    </div>
  </nav>

  <div class="nhsuk-width-container {{ containerClasses }}">
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">
          <h1><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Pharmacy (PH) payment run<span
                  class="nhsuk-u-visually-hidden">-</span></span></span>{% if data['paymentMonth'] %}{{ data['paymentMonth'] }}{% else %}September 2021{% endif %} summary data</h1>

        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds" style="width: 60%;">

              <h2 class="nhsuk-heading-l">Reconciliation figures</h2>

                <dl class="nhsuk-summary-list">

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">LPS Fees</dt>
                    <dd class="nhsuk-summary-list__value">-£124,712.41</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">LPS Reconciliation</dt>
                    <dd class="nhsuk-summary-list__value">£124,712.41</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">Advances not used</dt>
                    <dd class="nhsuk-summary-list__value">2</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">Total value</dt>
                    <dd class="nhsuk-summary-list__value">£14,648,688.13</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">Total amount for local Pharmacy payments into Invoice Line Payments</dt>
                    <dd class="nhsuk-summary-list__value">£774,742,920.93</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">DPC Totals</dt>
                    <dd class="nhsuk-summary-list__value">£774,742,920.93</dd>
                  </div>

                </dl>

                <h2 class="nhsuk-heading-l">Integra</h2>

                  <dl class="nhsuk-summary-list">

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" style="width: 70%;">File number</dt>
                      <dd class="nhsuk-summary-list__value">1,256</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" style="width: 70%;">Total for PH in Inv_Spool_to_Integra (Integra total)</dt>
                      <dd class="nhsuk-summary-list__value">£774,742,920.93</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" style="width: 70%;">Supplier file number</dt>
                      <dd class="nhsuk-summary-list__value">396</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" style="width: 70%;">Total for PH in Invoice Lines (Total PH table / Invoice total)</dt>
                      <dd class="nhsuk-summary-list__value">£774,742,920.93</dd>
                    </div>

                  </dl>




                  <p class="nhsuk-body-s nhsuk-u-margin-top-4 nhsuk-u-secondary-text-color">
                    Last updated:

                    <script>
                    const monthNames = ["January", "February", "March", "April", "May", "June",
                      "July", "August", "September", "October", "November", "December"
                    ];

                    var today = new Date();

                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = monthNames[today.getMonth()];
                    var yyyy = today.getFullYear();

                    var hours = today.getHours();
                    var ampm = hours >= 12 ? 'pm' : 'am';
                    hours = hours % 12;
                    hours = hours ? hours : 12; // the hour '0' should be '12'

                    var time = hours + "." + (today.getMinutes() < 10 ? '0' : '') + today.getMinutes();

                    today = dd + ' ' + mm + ' ' + yyyy + ' (' + time + ampm + ')';
                    document.write(today);

                    </script>
                  </p>


          <form action="javascript:history.go(-1)" method="post">

          <button class="nhsuk-button" type="submit">
            Back to payment run
          </button>

          </form>

        </div>

        <div class="nhsuk-grid-column-one-third" style="width: 40%;">

          <div style="margin-top: 0px;" class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
            <div style="overflow: hidden;" class="nhsuk-card--care__heading-container">
              <h2 style="float:left;" class="nhsuk-card--care__heading">
                <span role="text">Checks</span>
              </h2>
            </div>

            <div class="nhsuk-card__content">

            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Number of STP's</dt>
                <dd class="nhsuk-summary-list__value">42</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Items to load</dt>
                <dd class="nhsuk-summary-list__value">123,456</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Items loaded</dt>
                <dd class="nhsuk-summary-list__value">123,456</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Number of accounts</dt>
                <dd class="nhsuk-summary-list__value">215</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Number of rows transferred</dt>
                <dd class="nhsuk-summary-list__value">11,214</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">LPP's loaded</dt>
                <dd class="nhsuk-summary-list__value">42</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Number of LPP's with expensive items loaded</dt>
                <dd class="nhsuk-summary-list__value">42</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Errors</dt>
                <dd class="nhsuk-summary-list__value">0</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Unknown payees (see Error_Log)</dt>
                <dd class="nhsuk-summary-list__value">0</dd>
              </div>

            </dl>
            </div>
          </div>
        </div>
      </div>

    </main>
  </div>
  {% endblock %}
</body>

</html>
