<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

  <nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="../../dashboard/dashboard">Dashboard</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="../payment-runs">Payment runs</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="../PH-payment-runs">Pharmacy (PH)</a></li>
          </ol>

        </div>
      </div>

      <p class="nhsuk-breadcrumb__back"><a href="#">Pharmacy (PH)</a></p>

    </div>
  </nav>

  <div class="nhsuk-width-container {{ containerClasses }}">
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Pharmacy (PH) <span
                  class="nhsuk-u-visually-hidden">-</span></span></span> Schedule dates</h1>
        </div>

      <a style="float:right;" href="PH-schedule-dates-add">
        <button class="nhsuk-button nhsuk-button--secondary" type="submit">
          Add next dispensing month
        </button>
      </a>
      </div>

      <table role="table" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              Dispensing month
            </th>
            <th role="columnheader" class="" scope="col">
              Pay date
            </th>
            <th role="columnheader" class="" scope="col">
              LPA (open date)
            </th>
            <th role="columnheader" class="" scope="col">
              LPA (close date)
            </th>
            <th role="columnheader" class="" scope="col">
              <span class="nhsuk-u-visually-hidden">Action</span>
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>December 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>1 Mar 2022
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>2 Feb 2022
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>15 Feb 2022
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <a href="PH-schedule-dates-edit?scheduleMonth=December">Change</a>
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>November 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>1 Feb 2022
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>4 Jan 2022
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>14 Jan 2022
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <a href="PH-schedule-dates-edit?scheduleMonth=November">Change</a>
            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>October 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>31 Dec 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>2 Dec 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>14 Dec 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>September 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>1 Dec 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>2 Nov 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>12 Nov 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>August 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>1 Nov 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>4 Oct 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>15 Oct 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>July 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>1 Oct 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>2 Sep 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>15 Sep 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>June 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>1 Sep 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>2 Aug 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>13 Aug 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>May 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>30 Jul 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>2 Jul 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>15 Jul 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>April 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>1 Jul 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>2 Jun 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>14 Jun 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>March 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>1 Jun 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>4 May 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>14 May 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>February 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>30 Apr 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>6 Apr 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>15 Apr 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Month: </span>January 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">Pay Date: </span>1 Apr 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Open Date): </span>2 Mar 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">
              <span class="nhsuk-table-responsive__heading">LPA (Close Date): </span>15 Mar 2021
            </td>
            <td role="cell" class="nhsuk-table__cell">

            </td>
          </tr>
        </tbody>
      </table>
      <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <nav class="nav" role="navigation" aria-label="Pagination">

              <ul class="pagination">
                <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 1, current page">1</a></li>
                <li class="pagination__item"><a class="pagination__link" href="PH-schedule-dates-2020" aria-label="Page 2">2</a></li>
              </ul>

             <a class="pagination__link" href="PH-schedule-dates-2020" aria-label="Next page">Next<span aria-hidden="true" role="presentation">&nbsp;&raquo;</span></a>

              <div class="pagination__summary navigation-mobile" style="text-align: right;">Showing 1 - 12 of 24 months</div>
          </nav>
        </div>
        </div>
      </div>



        <style>
            li {
          display: inline-block;

            display: inline-block;
            padding: 0px 5px 0px 5px;
            margin-right: 15px;
            text-decoration: none;
            margin-bottom: 0px;
        }
        .padding {
        padding-left: 15px;
        }
        .pagination {
        padding: 0;
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        }
        .pagination__item {
          color: #005EA5;
        display: inline-block;
        list-style: none;
        margin-bottom: 0px;
        }
        .pagination__link {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        font-size: 19px;
        }
        .current {
          color:  #4c6272  !important;
          font-weight: 700;
          border: none;
          pointer-events: none;
          cursor: default;
        }
        .pagination__summary {
        margin-left: auto;
        -webkit-font-smoothing: antialiased;
        padding: 8px 0;
        font-size: 19px;
        }
        .nav
        {
          display: flex;
        flex-direction: row;
        align-items:center;
        margin-top: 20px;
        }
        @media (max-width: 640px) {
          .pagination__summary {
          margin-left: 0;
          }
          .nav{
              flex-direction: column;
              align-items: flex-start;
          }
          }

        </style>

    </main>
  </div>
  {% endblock %}
</body>

</html>
