<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} {% block pageTitle %} Direct Payments to Contractors {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Sign in</h1><!-- <p class="nhsuk-body">Sign in or <a href="#">create an account</a> to get started.</p> -->
      <div class="nhsuk-form-group">
        <label class="nhsuk-label"
             for="email">Username</label> <input class="nhsuk-input nhsuk-input--width-20"
             id="email"
             name="email">
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label"
             for="password">Password</label> <input class="nhsuk-input nhsuk-input--width-20"
             id="password"
             name="password"
             type="password">
      </div><a class="nhsuk-button"
           draggable="false"
           href="../dashboard/dashboard"
           role="button">Sign in</a>
      <div class="nhsuk-form-group">
        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">Forgot your password?</span>
          </summary>
          <div class="nhsuk-details__text">
            <p>To reset your password you must...</p>
          </div>
        </details>
        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">I do not have an account</span>
          </summary>
          <div class="nhsuk-details__text">
            <p>To get an account for this service you must be an approved member of staff. To request access email the contractor payment team on <a href="mailto:nhsbsa.contractorpayments@nhs.net">nhsbsa.contractorpayments@nhs.net</a>.</p>
          </div>
        </details>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s">About this service</h2>
      <p>DPC allows operational staff to manage and generate payments to NHS contractors.</p>

      <p>This service provides:</p>

      <ul>
        <li>contractor payment runs</li>
        <li>contractor payments information</li>
        <li>contractor maintenance</li>
        <li>Local Payment Application (LPA) status</li>
      </ul>


    </div>

  </div>{% endblock %}
</body>
</html>
