<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>

<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}

  {% block pageScripts %}
  <script type="text/javascript" src="/js/search.js"></script>
  <script type="text/javascript" src="/js/auto.js"></script>
  <script type="text/javascript" src="/js/add-letter-code-list.js"></script>
  <script type="text/javascript" src="/js/action-menu.js"></script>
  <script type="text/javascript" src="/js/sort.js"></script>
  <script type="text/javascript" src="/js/suggestionDropdown.js"></script>

  {% endblock %}

  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="../../dashboard/dashboard">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../search">Find a contractor</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../contractorv2-1">MILTON CHEMIST LTD</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../manage-payment">August 2021 manual payments</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a href="contractorv2-1">Milton Chemist LTD</a></p>

  </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
  <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">


    <form action="" method="post">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 style="margin-bottom:12px;" class="nhsuk-heading-l">
            <span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Manage contractor<span class="nhsuk-u-visually-hidden">-</span></span></span>
              What is the August 2021 manual payment Levy status?
          </h1>
          <p class="nhsuk-body-s" style="margin-bottom: 36px; margin-right:24px;"><b>OCS Code:</b> FF910<br><b>LPP:</b> QNC - STAFFORDSHIRE & STOKE ON TRENT STP</p>

          <div class="nhsuk-form-group">
            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input onclick="setLocation(this);" class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="levy-status-type?status=Voluntary">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Voluntary
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input onclick="setLocation(this);" class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="levy-status-type?status=Statutory">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  Statutory
                </label>
              </div>

              {% if data['manage-payment'] == "true" %}
              <div class="nhsuk-radios__item">
                <input onclick="setLocation(this);" class="nhsuk-radios__input" id="no-levy" name="example" type="radio" value="../manage-payment?status=">
                <label class="nhsuk-label nhsuk-radios__label" for="no-levy">
                  No levy
                </label>
              </div>
              {% else %}
              <div class="nhsuk-radios__item">
                <input onclick="setLocation(this);" class="nhsuk-radios__input" id="no-levy" name="example" type="radio" value="../manage-payment-link-individual?status=">
                <label class="nhsuk-label nhsuk-radios__label" for="no-levy">
                  No levy
                </label>
              </div>
              {% endif %}

            </div>
          </div>


                <br>
          <button class="nhsuk-button" type="submit">
            Save and continue
          </button>

          <p><a href="javascript:history.go(-1)">Cancel changes</a></p>

      </div>
    </form>
  </main>
</div>

<script>
    function setLocation(element) {
      document.forms[0].action = element.value
    }
  </script>


  {% endblock %}
</body>

</html>
