<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="../../dashboard/dashboard">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../search">Find a contractor</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../contractorv2-1">MILTON CHEMIST LTD</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../schedule-3">August 2021 schedule</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a href="expensive-items">Back to August 2021 schedule</a></p>

  </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
  <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">
    <form method="post" action="authorised-LPP-cya">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h1 style="margin-bottom:12px;" class="nhsuk-heading-l">
            <span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Manage contractor<span class="nhsuk-u-visually-hidden">-</span></span></span>
              Change August 2021 payments authorised by LPP
          </h1>

          <p class="nhsuk-body-s" style="margin-bottom: 36px; margin-right:24px;">
            <b>OCS Code:</b> FF910<br>
            <b>LPP:</b> QNC - STAFFORDSHIRE & STOKE ON TRENT STP<br>
            <b>Payment date:</b> 1 November 2021
          </p>

          <table role="table" class="nhsuk-table-responsive">
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Description
                </th>
                <th role="columnheader" class="" scope="col">
                  Additional data
                </th>
                <th role="columnheader" class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
                  Amount
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Essential Small Pharmacy Scheme
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label nhsuk-u-visually-hidden" for="scheduleDataDetailDTOList[0].amount">Urgent Medicine Reimbursement Payment amount</label>
                    <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
                      <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
                      <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
                    </div>
                  </div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Pre-registration trainee
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
                    <div class="nhsuk-input__wrapper">
                      <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
                    </div>
                  </div>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
                    <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
                      <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
                      <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
                    </div>
                  </div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Protected/Establishment Top Up
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Advances for high cost - Rem
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Advances for high cost - Drug
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Recover high cost items - Rem
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Recover high cost items - Drug
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Needle and syringe exchange scheme
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Temporary safeguard payment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Collection of unused drugs
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Welfare milk
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local scheme 1
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Formulary development
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local scheme 2
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local scheme 4
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Bottle storage
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>LPC - Voluntary Levy
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>LPC - Statutory Levy
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Oxygen Therapy Service (Hardware)
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Oxygen Therapy Service (Service Element)
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 3
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Instalment dispensing
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Fine for Breach of Service
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>LPC Voluntary Levy LPP adjustment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>LPC Statutory Levy LPP adjustment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Oxygen Headset Decomissioning Fee
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Advice to Care Homes
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Additional Pharmacist Access Services
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Pharmaceutical Services
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Pharmaceutical Services (OOH)
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Practice payment adjustment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Medicine use reviews adjustment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Stoma customisation fee adjustment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 5
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 6
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 7
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 8
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 9
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 10
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 11
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 12
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 13
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 14
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 15
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Appliance use reviews adjustment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>Local Scheme 16
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>NMS Fee Adjustment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">Description </span>NMS Implementation Payment Adjustment
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading">TBC </span>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <div class="nhsuk-form-group">
  <div class="nhsuk-input__wrapper  nhsuk-u-float-right">
    <div class="nhsuk-input__prefix" aria-hidden="true">£</div>
    <input autocomplete="off" class="nhsuk-input nhsuk-input--width-10  nhsuk-u-text-align-right" value=""/>
  </div>
</div>
                </td>
              </tr>
            </tbody>
          </table>


          <div class="nhsuk-form-group" style="margin-top: 36px;">
            <button class="nhsuk-button" type="submit">
            Continue
            </button>
            <p><a href="authorised-LPP-2">Cancel changes</a></p>
          </div>

        </div>
      </div>


      </form>
  </main>
</div>


  {% endblock %}
</body>

</html>
