<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->

<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

<link href="/css/secondary-tabs.css" rel="stylesheet">

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-link--no-visited-state" href="../dashboard/dashboard">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-link--no-visited-state" href="search">Find a contractor</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-link--no-visited-state" href="search">Find a contractor</a></p>

  </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
  <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 style="margin-bottom:12px;"><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Manage contractor<span
              class="nhsuk-u-visually-hidden">-</span></span></span>Milton Group</h1>

      <p class="nhsuk-body-s" style="margin-bottom: 36px; margin-right:24px;"><b>OCS Code:</b> YP02685</p>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="tabs">
        <div class="tabs-nav">
          <ul class="tabs-list">
            <li>
              <a class="nhsuk-link--no-visited-state" href="#tab-1" style="">
                <label for="primary details">
                 Primary details
               </label>
              </a>
            </li>
            <li>
              <a class="nhsuk-link--no-visited-state" href="#tab-3">
               Contact details
              </a>
            </li>
            <li>
              <a class="nhsuk-link--no-visited-state" href="#tab-4">
               Payment details
              </a>
            </li>
            <li>
              <a class="nhsuk-link--no-visited-state" href="#tab-5">
               Account history
              </a>
            </li>

          </ul>
        </div>

        <div class="tabs-content">
          <div class="tabs-panel" id="tab-1">
            <div class="tabs-panel-inner">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                  <div style="margin-top: 0px;" class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                    <div style="overflow: hidden;" class="nhsuk-card--care__heading-container">
                      <h2 style="float:left; padding-top: 8px;" class="nhsuk-card--care__heading">
                        <span role="text">Contractor details</span>
                      </h2>
                      {% if data['group-status'] %}{% else %}
                      <form action="change-details" method="post">
                        <button style="float: right; margin: 0;" class="nhsuk-button--small nhsuk-button nhsuk-button--reverse" type="submit">
                          Change<div class="nhsuk-u-visually-hidden"> contractor details</div>
                        </button>
                      </form>
                      {% endif %}
                    </div>

                    <div class="nhsuk-card__content">

                      <dl class="nhsuk-summary-list">

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Contractor name
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            Milton Group
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            OCS code
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            YP02685
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Status
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            {% if data['group-status'] %}{{ data['group-status'] }}{% else %}ACTIVE{% endif %}
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Supplier type
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            P - PHARMACY
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Passed to integra
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            <strong class="nhsuk-tag nhsuk-tag--green">
                              YES
                            </strong>
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Linked contractors
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                              <ul class="nhsuk-list">
                                <li><a class="nhsuk-link--no-visited-state" href="view-linked-contractors">View linked contractors</a></li>
                              </ul>
                          </dd>
                        </div>

                      </dl>

                      <h3 class="nhsuk-heading-s">Primary details</h3>

                      <dl class="nhsuk-summary-list">

                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Trading name
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            MILTONS (CHEMISTS) LTD
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Contact number
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            01782 848377
                          </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                          <dt class="nhsuk-summary-list__key">
                            Premises address
                          </dt>
                          <dd class="nhsuk-summary-list__value">
                            15-19 CAMPBELL PLACE<BR><BR>
                            STOKE-ON-TRENT<BR><BR>
                            ST4 1NH
                          </dd>
                        </div>
                      </dl>

                      <a class="nhsuk-link--no-visited-state" href="#">
                        <!--<button class="nhsuk-button nhsuk-button--secondary" type="submit" style="margin-bottom: 0;">
                          Download OCS code report
                        </button>-->
                        <p>Download OCS code report (PDF)</p>
                      </a>

                    </div>
                  </div>
                </div>

                <div class="nhsuk-grid-column-one-third">


                  <div style="margin-top: 0px;" class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                    <div style="overflow: hidden;" class="nhsuk-card--care__heading-container">
                      <h2 style="float:left; padding-top: 8px;" class="nhsuk-card--care__heading">
                        <span role="text">Notes</span>
                      </h2>
                      <form action="#" method="post">
                        <button style="float: right; margin: 0;" class="nhsuk-button--small nhsuk-button nhsuk-button--reverse" type="submit">
                          Change<div class="nhsuk-u-visually-hidden"> notes</div>
                        </button>
                      </form>
                    </div>

                    <div class="nhsuk-card__content">

                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="tabs-panel" id="tab-2">
            <div class="tabs-panel-inner">

              <div style="margin-top: 0px;" class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                <div style="overflow: hidden;" class="nhsuk-card--care__heading-container">
                  <h2 style="" class="nhsuk-card--care__heading">
                    <span role="text">Notes</span>
                  </h2>
                </div>

                <div class="nhsuk-card__content">

                  <textarea placeholder="Sort code changed due to bank instruction" style="margin-top: 16px; margin-bottom: 16px;" class="nhsuk-textarea" id="notes" name="notes" rows="5" aria-describedby="example-hint">Sort code changed due to bank instruction</textarea>
                  <button style="margin-bottom: 0px;" class="nhsuk-button" type="submit">
                    Save notes
                  </button>

                </div>
              </div>

            </div>
          </div>

          <div class="tabs-panel" id="tab-3">
            <div class="tabs-panel-inner">
              <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <div style="margin-top: 0px;" class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                  <div style="overflow: hidden;" class="nhsuk-card--care__heading-container">
                    <h2 style="float:left; padding-top: 8px;"  class="nhsuk-card--care__heading">
                      <span role="text">Contact details</span>
                    </h2>
                    {% if data['group-status'] %}{% else %}
                    <form action="#" method="post">
                      <button style="float: right; margin: 0;" class="nhsuk-button--small nhsuk-button nhsuk-button--reverse" type="submit">
                        Change<div class="nhsuk-u-visually-hidden"> alternative contact details</div>
                      </button>
                    </form>
                    {% endif %}
                  </div>

                  <div class="nhsuk-card__content">

                    <dl class="nhsuk-summary-list">

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__contact nhsuk-summary-list__key">
                          Correspondence name
                        </dt>
                        <dd class="nhsuk-summary-list__value">

                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Correspondence address
                        </dt>
                        <dd class="nhsuk-summary-list__value">

                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Email
                        </dt>
                        <dd class="nhsuk-summary-list__value">

                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Branch email
                        </dt>
                        <dd class="nhsuk-summary-list__value">

                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Alternative contact number
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          01782 848377
                        </dd>
                      </div>


                    </dl>

                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

          <div class="tabs-panel" id="tab-4">
            <div class="tabs-panel-inner">
              <div class="nhsuk-grid-row">
              <div class="nhsuk-grid-column-two-thirds">
                <div style="margin-top: 0px;" class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                  <div style="overflow: hidden;" class="nhsuk-card--care__heading-container">
                    <h2 style="float:left; padding-top: 8px;"  class="nhsuk-card--care__heading">
                      <span role="text">Payment details</span>
                    </h2>
                    {% if data['group-status'] %}{% else %}
                    <form action="#" method="post">
                      <button style="float: right; margin: 0;" class="nhsuk-button--small nhsuk-button nhsuk-button--reverse" type="submit">
                        Change<div class="nhsuk-u-visually-hidden"> payment details</div>
                      </button>
                    </form>
                    {% endif %}
                  </div>

                  <div class="nhsuk-card__content">

                    <dl class="nhsuk-summary-list">

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__contact nhsuk-summary-list__key">
                          Account name
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          HA RECEIVABLES
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Payment method
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          BACS
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Sortcode
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          21 22 26
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Account number
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          97105438
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Schedule type
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          ELECTRONIC
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Account type
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          CURRENT
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Payee type
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          MAIN-BRANCH
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Bank
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          BARCLAYS BANK PLC
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Branch
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          NE WALES GROUP 9
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__settings nhsuk-summary-list__key">
                          Building society account
                        </dt>
                        <dd class="nhsuk-summary-list__valuesettings nhsuk-summary-list__value">
                          YES
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Building Society reference
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          AB998734
                        </dd>
                      </div>

                    </dl>
                    </div>
                  </div>
                </div>

              <div class="nhsuk-grid-column-one-third">
                <div style="margin-top: 0px;" class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                  <div style="overflow: hidden;" class="nhsuk-card--care__heading-container">
                    <h2 style="float:left; padding-top: 8px;" class="nhsuk-card--care__heading">
                      <span role="text">Additional</span>
                    </h2>
                    {% if data['group-status'] %}{% else %}


                    <form action="#" method="post">
                      <button style="float: right; margin: 0;" class="nhsuk-button--small nhsuk-button nhsuk-button--reverse" type="submit">
                        Change<div class="nhsuk-u-visually-hidden"> settings</div>
                      </button>
                    </form>
                    {% endif %}
                  </div>

                  <div class="nhsuk-card__content">

                    <dl class="nhsuk-summary-list">

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__settings nhsuk-summary-list__settings nhsuk-summary-list__key">
                          Turn off paper schedules
                        </dt>
                        <dd class="nhsuk-summary-list__valuesettings nhsuk-summary-list__value">
                          <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="34" width="34">
                            <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                            <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                          </svg>
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__settings nhsuk-summary-list__key">
                          Payee
                        </dt>
                        <dd class="nhsuk-summary-list__valuesettings nhsuk-summary-list__value">
                          <svg class="nhsuk-icon nhsuk-icon__cross" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="34" width="34">
                            <path d="M17 18.5c-.4 0-.8-.1-1.1-.4l-10-10c-.6-.6-.6-1.6 0-2.1.6-.6 1.5-.6 2.1 0l10 10c.6.6.6 1.5 0 2.1-.3.3-.6.4-1 .4z"></path>
                            <path d="M7 18.5c-.4 0-.8-.1-1.1-.4-.6-.6-.6-1.5 0-2.1l10-10c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-10 10c-.3.3-.6.4-1 .4z"></path>
                          </svg>
                        </dd>
                      </div>


                    </dl>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="tabs-panel" id="tab-5">
            <div class="tabs-panel-inner">

              <div class="nhsuk-grid-column-two-thirds">
                <div style="margin-top: 0px;" class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
                  <div style="overflow: hidden;" class="nhsuk-card--care__heading-container">
                    <h2 style="float:left;"  class="nhsuk-card--care__heading">
                      <span role="text">Account history</span>
                    </h2>
                  </div>

                  <div class="nhsuk-card__content">

                    <dl class="nhsuk-summary-list">

                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__contact nhsuk-summary-list__key">
                          Added
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          17 April 2008
                        </dd>
                      </div>
                      {% if data['group-status'] %}
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Closed
                        </dt>
                        <dd class="nhsuk-summary-list__value">

                          <script>
                          const monthNames = ["January", "February", "March", "April", "May", "June",
                            "July", "August", "September", "October", "November", "December"
                          ];

                          var today = new Date();

                          var dd = String(today.getDate()).padStart(2, '0');
                          var mm = monthNames[today.getMonth()];
                          var yyyy = today.getFullYear();

                          var hours = today.getHours();
                          var ampm = hours >= 12 ? 'pm' : 'am';
                          hours = hours % 12;
                          hours = hours ? hours : 12; // the hour '0' should be '12'

                          var time = hours + ":" + (today.getMinutes() < 10 ? '0' : '') + today.getMinutes();

                          today = dd + ' ' + mm + ' ' + yyyy;
                          document.write(today);

                          </script>

                        </dd>
                      </div>
                      {% endif %}
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Dispensing month
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          May 2008
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          ETP Enabled
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          28 January 2011
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Last changed
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          04 December 2021 5:30pm
                        </dd>
                      </div>
                      <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                          Changed by
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                          DBA01
                        </dd>
                      </div>

                    </dl>

                    <a class="nhsuk-link--no-visited-state" href="#">
                      <p>Download full history details (PDF)</p>
                    </a>

                    {% if data['group-status'] %}
                    {% elif data['active'] == '0' %}
                    <form action="close/close-group" method="post">
                      <button class="nhsuk-button--small nhsuk-button nhsuk-button--secondary" type="submit">
                        Retire group<div class="nhsuk-u-visually-hidden"> Milton Group</div>
                      </button>
                    </form>
                    {% elif data['active'] != '0' %}
                    <form action="close/pause" method="post">
                      <button class="nhsuk-button--small nhsuk-button nhsuk-button--secondary" type="submit">
                        Retire group<div class="nhsuk-u-visually-hidden"> Milton Group</div>
                      </button>
                    </form>
                    {% endif %}

                  </div>
                </div>
              </div>

            </div>
          </div>



        </div>
      </div>

    </div>
  </div>

</main>
</div>

  {% endblock %}
</body>

</html>
