<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!-- 
         In /views/layout.html you can:
           - change the header and footer 
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

  <nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="../dashboard/dashboard">Home</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="payment-runs">Payment Runs</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="PH-payment-runs">Pharmacy (PH)</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="november-2">November 2021</a></li>
          </ol>

        </div>
      </div>

      <p class="nhsuk-breadcrumb__back"><a href="november-2">November 2021</a></p>

    </div>
  </nav>

  <div class="nhsuk-width-container {{ containerClasses }}">
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">
          <h1><span role="text"><span class="nhsuk-caption-xl nhsuk-caption--top">Pharmacy (PH) <span
                  class="nhsuk-u-visually-hidden">-</span></span></span> Populate invoice lines</h1>


          <div class="nhsuk-do-dont-list nhsuk-u-margin-top-8">
            <h3 class="nhsuk-do-dont-list__label">Data preview</h3>


            <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-4">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Key Data #1
                </dt>
                <dd class="nhsuk-summary-list__value">
                  123,456
                </dd>

              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Key Data #1
                </dt>
                <dd class="nhsuk-summary-list__value">
                  &pound;12,345
                </dd>

              </div>

            </dl>

            <p class="nhsuk-body-s nhsuk-u-margin-top-4 nhsuk-u-secondary-text-color">
              Last updated: 
              
              <script>
              const monthNames = ["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"
              ];

              var today = new Date();

              var dd = String(today.getDate()).padStart(2, '0');
              var mm = monthNames[today.getMonth()];
              var yyyy = today.getFullYear();

              var time = today.getHours() + "." + today.getMinutes();
              var hours = today.getHours();
              var ampm = hours >= 12 ? 'pm' : 'am';

              today = dd + ' ' + mm + ' ' + yyyy + ' (' + time + ampm + ')';
              document.write(today);
              
              </script>
            </p>


          </div>

          <form action="/v1/step-2" method="post">

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                <h1 class="nhsuk-fieldset__heading">
                  Do you want to continue?
                </h1>
              </legend>

              <div class="nhsuk-hint">
                Do not continue unless you are happy with the data shown.
              </div>

              <div class="nhsuk-radios nhsuk-radios--inline">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="step2-1" name="step2" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="step2-1">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="step2-2" name="step2" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="step2-2">
                    No
                  </label>
                </div>

              </div>
            </fieldset>

          </div>

          <button class="nhsuk-button" type="submit">
            Continue
          </button>

          </form>

        </div>

      </div>

    </main>
  </div>
  {% endblock %}
</body>

</html>