<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>

  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="../dashboard/dashboard">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="search">Find a contractor</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="contractorv2-1">MILTON CHEMIST LTD</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a href="contractorv2-1">MILTON CHEMIST LTD</a></p>

  </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
  <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">
    <form action="../contractorv2-1?group=yes" method="post">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 style="margin-bottom:12px;" class="nhsuk-heading-l">
            <span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Manage contractor<span class="nhsuk-u-visually-hidden">-</span></span></span>
              Check group details before linking Milton Chemist Ltd.
          </h1>
          <p class="nhsuk-body-s" style="margin-bottom: 36px; margin-right:24px;"><b>OCS Code:</b> FF910<br><b>LPP:</b> QNC - STAFFORDSHIRE & STOKE ON TRENT STP</p>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Group name
              </dt>
              <dd class="nhsuk-summary-list__value">
                Milton Group
              </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Code
              </dt>
              <dd class="nhsuk-summary-list__value">
                YP02685
              </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Account name
              </dt>
              <dd class="nhsuk-summary-list__value">
                HA RECEIVABLES
              </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Sortcode
              </dt>
              <dd class="nhsuk-summary-list__value">
                21 22 26
              </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Account number
              </dt>
              <dd class="nhsuk-summary-list__value">
                97105438
              </dd>

            </div>

          </dl>

          {% if data['swap-group'] == 'yes' %}

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>MILTON CHEMIST LTD will be linked with Milton Group and will no longer be linked to [name of previous linked group].</p>
          </div>


          {% endif %}




        <a class="nhsuk-button nhsuk-button--secondary" href="which-search-reveal">Change group</a>
        <br>
        <button class="nhsuk-button" type="submit">
          Link to group
        </button>

        <p><a href="../contractorv2-1">Cancel linking to group</a></p>

      </div>
    </form>
  </main>
</div>


  {% endblock %}
</body>

</html>
