<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} {% block pageTitle %} Direct Payments to Contractors {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
              <a href="#email">Email matches an inactive account</a>
            </li>
          </ul>
          <br>
          <p>Contact the contractor payment team to get access to DPC on <a href="mailto:nhsbsa.contractorpayments@nhs.net">nhsbsa.contractorpayments@nhs.net</a>.</p>
        </div>
      </div>

      <h1><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Direct Payments to Contractors (DPC)<span class="nhsuk-u-visually-hidden">-</span></span></span>Enter your email address to reset your password</h1>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form method="post" action="password-confirmation">

        <div class="nhsuk-form-group">
          <p>
            You will be emailed a password reset link to access your account.
          </p>
          <label class="nhsuk-label" for="email">
            Email
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="email" name="email" type="text">
        </div>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              If your email address is not linked to your DPC account
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>You will need to contact the Customer Payments Team for them to link your email to your account.</p>
            <p>Email the contractor payment team on <a href="mailto:nhsbsa.contractorpayments@nhs.net">nhsbsa.contractorpayments@nhs.net</a>.</p>

          </div>
        </details>

        <button class="nhsuk-button" type="submit">
          Save and continue
        </button>

        <p><a class="nhsuk-link--no-visited-state" href="sign-in">Return to sign in</a></p>

      </form>
    </div>
   </div>
   <script>
       function setLocation(element) {
         document.forms[0].action = element.value
       }
     </script>

{% endblock %}
</body>
</html>
