<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} {% block pageTitle %} Direct Payments to Contractors {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">Reset account password</h1>
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Username
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['user-id'] %}{{ data['user-id'] }}{% else %}JOBLO{% endif %}
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['LAP-name'] %}{{ data['LAP-name'] }}{% else %}Joe Bloggs{% endif %}
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            {% if data['email'] %}{{ data['email'] }}{% else %}email@email.com{% endif %}
          </dd>
        </div>
      </dl>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label"
             for="password">New password</label>
             <div class="nhsuk-hint" id="contact-hint">
               Password must be at least 8 characters long
             </div>
             <input class="nhsuk-input nhsuk-input--width-20"
             id="password"
             name="password"
             type="password">
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label"
             for="password">Re-type password</label> <input class="nhsuk-input nhsuk-input--width-20"
             id="password"
             name="password"
             type="password">
      </div>
      <a class="nhsuk-button"
           draggable="false"
           href="password-reset-confirmation"
           role="button">Change password</a>

           <details class="nhsuk-details">
             <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
                 If the account details are not correct
               </span>
             </summary>
             <div class="nhsuk-details__text">
               <p>Contact the information services support team on 0191 2035050 or email nhsbsa.help@nhs.net.</p>

             </div>
           </details>
    </div>

    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-s">About this service</h2>
      <p>Direct Payments to Contractors (DPC) allows operational staff to manage and generate payments to NHS contractors.</p>

      <p>This service provides:</p>

      <ul>
        <li>contractor payment runs</li>
        <li>contractor payments information</li>
        <li>contractor maintenance</li>
        <li>Local Payment Application (LPA) status</li>
      </ul>


    </div>

  </div>{% endblock %}
</body>
</html>
