<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} {% block pageTitle %} Direct Payments to Contractors {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Password changed
          </h1>
          <p style="text-align: center; color: white;">
            {% if data['lan-ID'] %}{{ data['lan-ID'] }}{% else %}JOBLO{% endif %}
          </p>
        </div>
      </div>


      <p>Your password has been changed and account unlocked, you can now access DPC.</p>

      <p> <a href="sign-in" class="nhsuk-button">Go to sign in</a></p>
    </div>

  </div>{% endblock %}
</body>
</html>
