<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'layout.html' %} {% block pageTitle %} Direct Payments to Contractors {% endblock %} {% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
        <div class="nhsuk-card__content">
          <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
            Password reset
          </h1>
          <p style="text-align: center; color: white;">
            {% if data['email'] %}{{ data['email'] }}{% else %}email@email.com{% endif %}
          </p>
        </div>
      </div>


      <p>You have been emailed with a password reset link. Open the link in the email to access DPC.</p>
      <p><a href="https://docs.google.com/document/d/1yP9_AqvupYDuxShd62PJauuZHkCWgC7yP8mwCe1XL54/edit?usp=sharing">[Email sent]</a></p>
      <p><a href="password-reset">[shortcut to link in email]</a></p>
    </div>

  </div>{% endblock %}
</body>
</html>
