<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="../dashboard/dashboard">Dashboard</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a href="../dashboard/dashboard">Go back to dashboard</a></p>

  </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
  <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">
    <form action="notes" method="post">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 style="margin-bottom:12px;"class="nhsuk-heading-xl">
            <span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Add group or LPC<span class="nhsuk-u-visually-hidden">-</span></span></span>
              Payment details
          </h1>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="LPP">
              Account Name
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="example" name="LPP" type="text" value="">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="supplier-type">
              Payment method
            </label>
            <select class="nhsuk-select" id="select-1" name="select-1">
              <option value="1" selected>BACS</option>
              <option value="2">CHQ</option>
            </select>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="LPC">
              Sort code
            </label>
            <input style="margin-right: 15px;" class="nhsuk-input nhsuk-input--width-2" id="example" name="LPC" type="text" value="">
            <input style="margin-right: 15px;" class="nhsuk-input nhsuk-input--width-2" id="example" name="LPC" type="text" value="">
            <input class="nhsuk-input nhsuk-input--width-2" id="example" name="LPC" type="text" value="">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="LPP">
              Account Number
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="example" name="LPP" type="text" value="">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="LPP">
              Account Type
            </label>
            <div class="nhsuk-radios nhsuk-radios--inline">
               <div class="nhsuk-radios__item">
                 <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                 <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                   Current
                 </label>
               </div>
               <div class="nhsuk-radios__item">
                 <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                 <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                   Deposit
                 </label>
               </div>
               <div class="nhsuk-radios__item">
                 <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                 <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                   N/A
                 </label>
               </div>
             </div>
          </div>

          <div class="nhsuk-form-group">
            <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">

              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" id="contact-1" name="contact" type="checkbox" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-1">
                  Building Society account
                </label>
              </div>

              <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">

                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="email">
                    Building Society reference
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text" value="">
                </div>

              </div>
            </div>
          </div>


        <br>
        <button class="nhsuk-button" type="submit">
          Validate bank details and continue
        </button>

        <p><a class="nhsuk-link--no-visited-state" href="../dashboard/dashboard">Cancel adding group or LPC</a></p>

      </div>
    </form>
  </main>
</div>


  {% endblock %}
</body>

</html>
