<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="../../dashboard/dashboard">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../search">Find a contractor</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a href="dashboard">Dashboard</a></p>

  </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
  <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Direct Payments to Contractors (DPC) <span
              class="nhsuk-u-visually-hidden">-</span></span></span> Find a contractor advanced search</h1>
    </div>
  </div>

  <!--<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <p class="">Search using a OCS code, YP code or contractor's name.</p>
    </div>
  </div>-->


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter" style="margin-bottom: 24px;">
      <div class="nhsuk-form-group"  style="float: left; margin: 0 30px 0 0;">
        <label class="nhsuk-label" for="ocs-group-code">
          OCS or Group code
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="ocs-group-code" name="ocs-group-code" type="text">
      </div>
    </div>
    <div class="nhsuk-grid-column-one-half" style="margin-bottom: 24px;">
      <div class="nhsuk-form-group"  style="float: left; margin: 0 30px 0 0;">
        <label class="nhsuk-label" for="contractor-name">
          Contractor name
        </label>
        <input class="nhsuk-input" style="width: 41ex;" id="contractor-name" name="contractor-name" type="text">
      </div>
    </div>
    <div class="nhsuk-grid-column-one-quarter" style="margin-bottom: 24px;">
      <div class="nhsuk-form-group"  style="float: left; margin: 0 15px 0 0;">
        <label class="nhsuk-label" for="status">
          Status
        </label>
        <select class="nhsuk-select" id="status" name="status">
            <option selected value="1">Active</option>
            <option value="2">Retired</option>
            <option value="3">All</option>
          </select>
      </div>
    </div>

    <div class="nhsuk-grid-column-full">
       <h2 class="nhsuk-heading-s">Advanced search</h2>
     </div>
     <div class="nhsuk-grid-column-full">
             <!-- General -->
             <details class="nhsuk-details nhsuk-expander">

             <summary class="nhsuk-details__summary">
             <span class="nhsuk-details__summary-text">
              General
             </span>
             </summary>
             <div class="nhsuk-details__text">

               <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="supplier-type">
                    Supplier type
                  </label>
                  <select class="nhsuk-select" id="supplier-type" name="supplier-type">
                    <option value="1" selected>All</option>
                    <option value="2">NHS.UK frontend option 2</option>
                    <option value="3">NHS.UK frontend option 3</option>
                  </select>
                </div>

                <div class="nhsuk-form-group">
                   <label class="nhsuk-label" for="LPP-code">
                     LPP Code
                   </label>
                   <select class="nhsuk-select" id="LPP-code" name="LPP-code">
                     <option value="1" selected>All</option>
                     <option value="2">NHS.UK frontend option 2</option>
                     <option value="3">NHS.UK frontend option 3</option>
                   </select>
                 </div>

                 <div class="nhsuk-checkboxes">
                   <span class="nhsuk-label">
                     Setup
                   </span>
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="LPS-checkbox" name="LPS-checkbox" type="checkbox" value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="LPS-checkbox">
                          LPS
                        </label>
                      </div>
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="out-of-hours-checkbox" name="out-of-hours-checkbox" type="checkbox" value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="out-of-hours-checkbox">
                          Out of hours
                        </label>
                      </div>
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="NMS-checkbox" name="NMS-checkbox" type="checkbox" value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="NMS-checkbox">
                          NMS
                        </label>
                      </div>
                      <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="NMS-paid-checkbox" name="NMS-paid-checkbox" type="checkbox" value="text message">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="NMS-paid-checkbox">
                          NMS Paid
                        </label>
                      </div>
                    </div>







             </div>

             </details>


             <!-- Contractor details   -->
             <details class="nhsuk-details nhsuk-expander" >

             <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
                Contractor details
               </span>

             </summary>
             <div class="nhsuk-details__text">

               <div class="nhsuk-form-group">
                 <label class="nhsuk-label" for="trading-name">
                   Trading name
                 </label>
                 <input class="nhsuk-input nhsuk-input--width-20" id="trading-name" name="trading-name" type="text">
               </div>

               <div class="nhsuk-form-group">
                 <label class="nhsuk-label" for="premises-address">
                   Premises address
                 </label>
                 <input class="nhsuk-input nhsuk-input--width-20" id="premises-address" name="premises-address" type="text">
               </div>

               <div class="nhsuk-form-group">
                 <label class="nhsuk-label" for="premises-post-code">
                   Premises post code
                 </label>
                 <input class="nhsuk-input nhsuk-input--width-5" id="premises-post-code" name="premises-post-code" type="text">
               </div>

             </div>

             </details>

             <!-- Contact details -->
             <details class="nhsuk-details nhsuk-expander">

             <summary class="nhsuk-details__summary">
             <span class="nhsuk-details__summary-text">
             Contact details
             </span>
             </summary>
             <div class="nhsuk-details__text">


               <div class="nhsuk-form-group">
                 <label class="nhsuk-label" for="correspondence-name">
                   Correspondence name
                 </label>
                 <input class="nhsuk-input nhsuk-input--width-20" id="correspondence-name" name="correspondence-name" type="text">
               </div>

               <div class="nhsuk-form-group">
                 <label class="nhsuk-label" for="correspondence-address">
                   Correspondence address
                 </label>
                 <input class="nhsuk-input nhsuk-input--width-20" id="correspondence-address" name="correspondence-address" type="text">
               </div>

               <div class="nhsuk-form-group">
                 <label class="nhsuk-label" for="correspondence-post-code">
                   Correspondence post code
                 </label>
                 <input class="nhsuk-input nhsuk-input--width-5" id="correspondence-post-code" name="correspondence-post-code" type="text">
               </div>

               <div class="nhsuk-form-group">
                 <label class="nhsuk-label" for="email">
                   Email address
                 </label>
                 <input class="nhsuk-input nhsuk-input--width-20" id="email" name="email" type="text">
               </div>

               <div class="nhsuk-form-group">
                 <label class="nhsuk-label" for="branch-email">
                   Branch email address
                 </label>
                 <input class="nhsuk-input nhsuk-input--width-20" id="branch-email" name="branch-email" type="text">
               </div>

               <div class="nhsuk-form-group">
                 <label class="nhsuk-label" for="contact-number">
                   Contact number
                 </label>
                 <input class="nhsuk-input nhsuk-input--width-10" id="contact-number" name="contact-number" type="text">
               </div>

             </details>


          <!-- Payment details -->
          <details class="nhsuk-details nhsuk-expander">

          <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
          Payment details
          </span>
          </summary>
          <div class="nhsuk-details__text">

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="account-name">
                Account name
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="account-name" name="account-name" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="account-number">
                Account number
              </label>
              <input class="nhsuk-input nhsuk-input--width-10" id="account-number" name="account-number" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="sort-code">
                Sort code
              </label>
              <input class="nhsuk-input nhsuk-input--width-5" id="sort-code" name="sort-code" type="text">
            </div>

          </details>

          <!-- Payment type -->
          <details class="nhsuk-details nhsuk-expander">

          <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
          Payment type
          </span>
          </summary>
          <div class="nhsuk-details__text">


            <div class="nhsuk-checkboxes">
                 <div class="nhsuk-checkboxes__item">
                   <input class="nhsuk-checkboxes__input" id="ETP-withheld" name="ETP-withheld" type="checkbox" value="text message">
                   <label class="nhsuk-label nhsuk-checkboxes__label" for="ETP-withheld">
                     ETP Withheld
                   </label>
                 </div>
                 <div class="nhsuk-checkboxes__item">
                   <input class="nhsuk-checkboxes__input" id="ETP-R2" name="ETP-R2" type="checkbox" value="text message">
                   <label class="nhsuk-label nhsuk-checkboxes__label" for="ETP-R2">
                     ETP R2
                   </label>
                 </div>
                 <div class="nhsuk-checkboxes__item">
                   <input class="nhsuk-checkboxes__input" id="NMS-ind" name="NMS-ind" type="checkbox" value="text message">
                   <label class="nhsuk-label nhsuk-checkboxes__label" for="NMS-ind">
                     NMS Ind
                   </label>
                 </div>
                 <div class="nhsuk-checkboxes__item">
                   <input class="nhsuk-checkboxes__input" id="NMS-paid" name="NMS-paid" type="checkbox" value="text message">
                   <label class="nhsuk-label nhsuk-checkboxes__label" for="NMS-paid">
                     NMS Paid
                   </label>
                 </div>
            </div>
          </details>

          <!-- Notes -->
          <details class="nhsuk-details nhsuk-expander">

          <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            <label for="notes">
          Notes
            </label>
          </span>
          </summary>
          <div class="nhsuk-details__text">

            <div class="nhsuk-form-group" style="margin-top: 5px;">
              <input class="nhsuk-input" id="notes" name="notes" type="text">
            </div>

          </div>
          </details>

          <form style="float: left; display: contents;" action="advanced-search-results" method="post">
          <button style="float: left;" class="nhsuk-button" type="submit">
            Search
          </button>
          </form>
          <p style="float: left; padding-top: 15px; padding-left: 15px;"><a href="#">Reset search</a></p>

      </div>

    </div>

</main>
</div>


  {% endblock %}
</body>

</html>
