<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}


  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="../dashboard/dashboard">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="search">Search for a DPC user</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a href="search">Go back to Search for a DPC user</a></p>

  </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
  <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-l">
            <span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Manage DPC user<span class="nhsuk-u-visually-hidden">-</span></span></span>
              Create DPC user management report
          </h1>

          <!--<div class="nhsuk-hint" id="contact-hint">
            You can either search a report template, select a popular template or select a batch report.
          </div>-->

          <div style="contain: content;" class="nhsuk-form-group">

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="input-width-5">
                Time period from
              </label>
              <div class="nhsuk-hint" id="contact-hint">
                For example, 27/11/2022
              </div>
              <input class="nhsuk-input nhsuk-input--width-5" id="input-width-5" name="test-width-5" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="input-width-5">
                Time period to
              </label>
              <div class="nhsuk-hint" id="contact-hint">
                For example, 27/11/2022
              </div>
              <input class="nhsuk-input nhsuk-input--width-5" id="input-width-5" name="test-width-5" type="text">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="schedule-type">
                Manage user actions
              </label>
              <select class="nhsuk-select" id="schedule-type" name="schedule-type">
                <option value="M00299" selected>All actions</option>
                <option value="M00298">New users added</option>
                <option value="M00297">account details changed</option>
                <option value="M00296">Password reset</option>
                <option value="M00296">accounts deactivated and activated</option>
              </select>
            </div>

            <div class="nhsuk-form-group">
            <div class="nhsuk-radios nhsuk-radios--inline">
              <label class="nhsuk-label" for="schedule-type">
                Format: {% if data['report-format'] %}{{ data['report-format'] }}{% else %}CSV{% endif %}
              </label>

              <!--<div class="nhsuk-radios__item">
                <input checked class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  PDF
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  XLS
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  CSV
                </label>
              </div>
              </div>-->

            </div>
            <br>
          <div class="nhsuk-form-group">
          <form action="complete" method="post">
            <button class="nhsuk-button" type="submit">
              Create report
            </button>
          </form>
          </div>

        </div>


      </div>



  </main>
</div>


  {% endblock %}
</body>

</html>
