<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}


<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="../dashboard/dashboard">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="search">Search for a LAP user</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="manage-user">Manage LAP user</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a href="manage-user">Go back to Manage LAP user</a></p>

  </div>
</nav>

<div class="nhsuk-width-container ">
    <main class="nhsuk-main-wrapper " id="maincontent" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Direct Payments to Contractors (DPC)<span class="nhsuk-u-visually-hidden">-</span></span></span>Change LAP user {% if data['user-id'] %}{{ data['user-id'] }}{% else %}5HG00A{% endif %}'s contact details</h1>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <form method="post" action="check-contact" >

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="LAP-name">
                Name
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="LAP-name" name="LAP-name" type="text" value="{% if data['LAP-name'] %}{{ data['LAP-name'] }}{% else %}Ashton, Leigh & Wigan{% endif %}">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="email">
                Email
              </label>
              <input class="nhsuk-input nhsuk-input--width-20" id="email" name="email" type="text" value="email@email.com">
            </div>

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="telephone">
                Telephone number
              </label>
              <input class="nhsuk-input nhsuk-input--width-10" id="telephone" name="telephone" type="text" value="07971721980">
            </div>

            <button class="nhsuk-button" type="submit">
              Continue
            </button>

            <p><a class="nhsuk-link--no-visited-state" href="manage-user">Cancel changes</a></p>

          </form>
        </div>
       </div>


    </main>
</div>

  {% endblock %}
</body>

</html>
