<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

  <nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="../dashboard/dashboard">Dashboard</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="payment-runs">Payment runs</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="javascript:history.go(-1)">Pharmacy (PH)</a></li>
          </ol>

        </div>
      </div>

      <p class="nhsuk-breadcrumb__back"><a href="javascript:history.go(-1)">Pharmacy (PH)</a></p>

    </div>
  </nav>

  <div class="nhsuk-width-container {{ containerClasses }}">
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

      <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-two-thirds">
          <h1><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Pharmacy (PH) payment run<span
                  class="nhsuk-u-visually-hidden">-</span></span></span>{% if data['paymentMonth'] %}{{ data['paymentMonth'] }}{% else %}September 2021{% endif %} summary data</h1>

        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds" style="width: 60%;">

              <h2 class="nhsuk-heading-l">Reconciliation figures</h2>

                <dl class="nhsuk-summary-list">

                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">LPS Fees</dt>
                    <dd class="nhsuk-summary-list__value">-£124,712.41</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">LPS Reconciliation</dt>
                    <dd class="nhsuk-summary-list__value">£124,712.41</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">Advances not used</dt>
                    <dd class="nhsuk-summary-list__value">2</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">Late advance data total value</dt>
                    <dd class="nhsuk-summary-list__value">£14,648,688.13</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">Total amount for local Pharmacy payments into Invoice Line Payments</dt>
                    <dd class="nhsuk-summary-list__value">£774,742,920.93</dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key" style="width: 70%;">DPC Totals</dt>
                    <dd class="nhsuk-summary-list__value">£774,742,920.93</dd>
                  </div>

                </dl>

                <h2 class="nhsuk-heading-l">Integra</h2>

                  <dl class="nhsuk-summary-list">

                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" style="width: 70%;">File number</dt>
                      <dd class="nhsuk-summary-list__value">1,256</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" style="width: 70%;">Supplier file number</dt>
                      <dd class="nhsuk-summary-list__value">396</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" style="width: 70%;">Total for PH in Invoice Lines</dt>
                      <dd class="nhsuk-summary-list__value">£774,742,920.93</dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                      <dt class="nhsuk-summary-list__key" style="width: 70%;">Total for PH into Integra</dt>
                      <dd class="nhsuk-summary-list__value">£774,742,920.93</dd>
                    </div>
                  </dl>




                  <p class="nhsuk-body-s nhsuk-u-margin-top-4 nhsuk-u-secondary-text-color">
                    Last updated:

                    <script>
                    const monthNames = ["January", "February", "March", "April", "May", "June",
                      "July", "August", "September", "October", "November", "December"
                    ];

                    var today = new Date();

                    var dd = String(today.getDate()).padStart(2, '0');
                    var mm = monthNames[today.getMonth()];
                    var yyyy = today.getFullYear();

                    var hours = today.getHours();
                    var ampm = hours >= 12 ? 'pm' : 'am';
                    hours = hours % 12;
                    hours = hours ? hours : 12; // the hour '0' should be '12'

                    var time = hours + ":" + (today.getMinutes() < 10 ? '0' : '') + today.getMinutes();

                    today = dd + ' ' + mm + ' ' + yyyy + ' (' + time + ampm + ')';
                    document.write(today);

                    </script>
                  </p>

        </div>

        <div class="nhsuk-grid-column-one-third" style="width: 40%;">

          <div style="margin-top: 0px;" class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
            <div style="overflow: hidden;" class="nhsuk-card--care__heading-container">
              <h2 style="float:left;" class="nhsuk-card--care__heading">
                <span role="text">Checks</span>
              </h2>
            </div>

            <div class="nhsuk-card__content">

            <dl class="nhsuk-summary-list">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Number of LPP's with expensive items loaded</dt>
                <dd class="nhsuk-summary-list__value">42</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Errors</dt>
                <dd class="nhsuk-summary-list__value">0</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Number of rows transferred</dt>
                <dd class="nhsuk-summary-list__value">11,214</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Unknown payees</dt>
                <dd class="nhsuk-summary-list__value">0</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">LPP's loaded</dt>
                <dd class="nhsuk-summary-list__value">42</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">ETP items to load</dt>
                <dd class="nhsuk-summary-list__value">123,456</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Number of STP's</dt>
                <dd class="nhsuk-summary-list__value">42</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">ETP items to load</dt>
                <dd class="nhsuk-summary-list__value">123,456</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">PPC items loaded</dt>
                <dd class="nhsuk-summary-list__value">123,456</dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width: 70%;">Late advance data number of accounts</dt>
                <dd class="nhsuk-summary-list__value">215</dd>
              </div>

            </dl>
            </div>
          </div>
        </div>

        </div>
        <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">

          <h2 class="nhsuk-heading-l">Download summary data</h2>

          <div class="component-guide-preview component-guide-preview--simple" data-content="EXAMPLE">

          <section class="gem-c-attachment govuk-!-display-none-print">
            <div class="gem-c-attachment__thumbnail" style="margin-bottom: 36px;">
              <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/747661/department-for-transport-information-asset-register.csv">
                <svg class="gem-c-attachment__thumbnail-image" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
                  <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"/>
                  <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"/>
                  <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"/>
                </svg>
              </a>
            </div>
            <div class="gem-c-attachment__details">
              <h3 class="gem-c-attachment__title">
                <a class="govuk-link gem-c-attachment__link" target="_self" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/747661/department-for-transport-information-asset-register.csv">{% if data['paymentMonth'] %}{{ data['paymentMonth'] }}{% else %}September 2021{% endif %} pharmacy payment run summary data</a>
              </h3>
              <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Comma-separated Values" class="gem-c-attachment__abbr">CSV</abbr></span>, <span class="gem-c-attachment__attribute">19.5 KB</span></p>
            </div>
          </section>
          </div>

        </div>
        </div>
        <div class="nhsuk-grid-row">

        <div class="nhsuk-grid-column-full">

          {% if data['complete'] %}

          <form action="PH-payment-runs-complete" method="post">

          <button class="nhsuk-button" type="submit">
            Return to payment runs
          </button>

          </form>

          {% else %}

          <form action="javascript:history.go(-1)" method="post">

          <button class="nhsuk-button" type="submit">
            Return to payment runs
          </button>

          </form>

          {% endif %}
          </div>
      </div>

      </div>

      <style>
        .component-guide-preview--simple {
            border: 0;
            padding: 10px;
        }

        .component-guide-preview {
            position: relative;
        }
        @media (min-width: 40.0625em)
        .gem-c-attachment {
            font-size: 19px;
            font-size: 1.1875rem;
            line-height: 1.3157894737;
        }

        .gem-c-attachment {
            font-family: "GDS Transport",arial,sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: 400;
            font-size: 16px;
            font-size: 1rem;
            line-height: 1.25;
            position: relative;
        }
        .gem-c-attachment__thumbnail {
            position: relative;
            width: auto;
            margin-right: 25px;
            margin-bottom: 15px;
            padding: 5px;
            float: left;
        }
        .gem-c-attachment__thumbnail-image {
          display: block;
          width: auto;
          max-width: 99px;
          height: 140px;
          border: rgba(11,12,12,0.1);
          outline: 5px solid rgba(11,12,12,0.1);
          background: #fff;
          box-shadow: 0 2px 2px rgb(11 12 12 / 40%);
          fill: #b1b4b6;
          stroke: #b1b4b6;
      }
      </style>

    </main>
  </div>
  {% endblock %}
</body>

</html>
