<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

  <nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          <ol class="nhsuk-breadcrumb__list">
            <li class="nhsuk-breadcrumb__item"><a href="../dashboard/dashboard">Dashboard</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="payment-runs">Payment Runs</a></li>
            <li class="nhsuk-breadcrumb__item"><a href="PH-payment-runs">Pharmacy (PH)</a></li>
          </ol>

        </div>
      </div>

      <p class="nhsuk-breadcrumb__back"><a href="payment-runs">Payment Runs</a></p>

    </div>
  </nav>

  <div class="nhsuk-width-container {{ containerClasses }}">
    <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1><span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Pharmacy (PH) <span
                  class="nhsuk-u-visually-hidden">-</span></span></span> Payment Runs</h1>
        </div>
        <div class="nhsuk-grid-column-one-third">
        <a href="PH-schedule-dates">
          <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-float-right" type="submit">
            Schedule dates
          </button>
        <a>
        </div>
      </div>


      <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-padding-top-0">

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <a style="float: left; display: contents;" class="nhsuk-card__link nhsuk-heading-s nhsuk-u-margin-bottom-2" href="november-1">
                September 2021
              </a>
              <strong style="float: right;" class="nhsuk-tag nhsuk-tag--green">
                Open
              </strong>
              <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
              <p class="nhsuk-u-font-size-14"><span class="nhsuk-u-font-weight-bold">Run ID:</span> 878<br><span class="nhsuk-u-font-weight-bold">Prescription Month:</span> September 2021<br><span class="nhsuk-u-font-weight-bold">Payment date:</span> 1 December 2021</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <a style="float: left; display: contents;" class="nhsuk-card__link nhsuk-heading-s nhsuk-u-margin-bottom-2" href="#">
                August 2021
              </a>
              <strong style="float: right;" class="nhsuk-tag nhsuk-tag--red">
                Closed
              </strong>
              <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
              <p class="nhsuk-u-font-size-14"><span class="nhsuk-u-font-weight-bold">Run ID:</span> 877<br><span class="nhsuk-u-font-weight-bold">Prescription Month:</span> August 2021<br><span class="nhsuk-u-font-weight-bold">Payment date:</span> 1 November 2021</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <a style="float: left; display: contents;" class="nhsuk-card__link nhsuk-heading-s nhsuk-u-margin-bottom-2" href="#">
                July 2021
              </a>
              <strong style="float: right;" class="nhsuk-tag nhsuk-tag--red">
                Closed
              </strong>
              <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
              <p class="nhsuk-u-font-size-14"><span class="nhsuk-u-font-weight-bold">Run ID:</span> 876<br><span class="nhsuk-u-font-weight-bold">Prescription Month:</span> July 2021<br><span class="nhsuk-u-font-weight-bold">Payment date:</span> 1 October 2021</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <a style="float: left; display: contents;" class="nhsuk-card__link nhsuk-heading-s nhsuk-u-margin-bottom-2" href="#">
                June 2021
              </a>
              <strong style="float: right;" class="nhsuk-tag nhsuk-tag--red">
                Closed
              </strong>
              <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
              <p class="nhsuk-u-font-size-14"><span class="nhsuk-u-font-weight-bold">Run ID:</span> 875<br><span class="nhsuk-u-font-weight-bold">Prescription Month:</span> June 2021<br><span class="nhsuk-u-font-weight-bold">Payment date:</span> 1 September 2021</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <a style="float: left; display: contents;" class="nhsuk-card__link nhsuk-heading-s nhsuk-u-margin-bottom-2" href="#">
                May 2021
              </a>
              <strong style="float: right;" class="nhsuk-tag nhsuk-tag--red">
                Closed
              </strong>
              <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
              <p class="nhsuk-u-font-size-14"><span class="nhsuk-u-font-weight-bold">Run ID:</span> 874<br><span class="nhsuk-u-font-weight-bold">Prescription Month:</span> May 2021<br><span class="nhsuk-u-font-weight-bold">Payment date:</span> 30 July 2021</p>
            </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <a style="float: left; display: contents;" class="nhsuk-card__link nhsuk-heading-s nhsuk-u-margin-bottom-2" href="#">
                April 2021
              </a>
              <strong style="float: right;" class="nhsuk-tag nhsuk-tag--red">
                Closed
              </strong>
              <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
              <p class="nhsuk-u-font-size-14"><span class="nhsuk-u-font-weight-bold">Run ID:</span> 873<br><span class="nhsuk-u-font-weight-bold">Prescription Month:</span> April 2021<br><span class="nhsuk-u-font-weight-bold">Payment date:</span> 1 July 2021</p>
            </div>
          </div>
        </li>

      </ul>

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
          <ul class="nhsuk-list nhsuk-pagination__list">
            <li class="nhsuk-pagination-item--next">
              <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
                <span class="nhsuk-pagination__title">Previous Months</span>
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>

    </main>
  </div>
  {% endblock %}
</body>

</html>
