<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  {% extends 'layout-logged-in.html' %}
  <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
  <!-- Set the page title inside the pageTitle block -->
  {% block pageTitle %} Direct Payments to Contractors {% endblock %}
  <!-- Breadcrumb goes inside the beforeContent block -->
  {% block beforeContent %} {% endblock %}
  <!-- Your page content goes inside the content block -->
  <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
  {% block content %}

<nav class="nhsuk-breadcrumb nhsBSA-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">

        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a href="../../dashboard/dashboard">Dashboard</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../search">Find a contractor</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../contractorv2-1">MILTON CHEMIST LTD</a></li>
          <li class="nhsuk-breadcrumb__item"><a href="../schedule-3">August 2021 schedule</a></li>
        </ol>

      </div>
    </div>

    <p class="nhsuk-breadcrumb__back"><a href="expensive-items">Back to August 2021 schedule</a></p>

  </div>
</nav>

<div class="nhsuk-width-container {{ containerClasses }}">
  <main class="nhsuk-main-wrapper {{ mainClasses }}" id="maincontent" role="main">
    <form method="post" action="../schedule-3">

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 style="margin-bottom:12px;" class="nhsuk-heading-l">
            <span role="text"><span class="nhsuk-caption-l nhsuk-caption--top">Manage contractor<span class="nhsuk-u-visually-hidden">-</span></span></span>
              Check August 2021 payments authorised by LPP
          </h1>

          <p class="nhsuk-body-s" style="margin-bottom: 36px; margin-right:24px;">
            <b>OCS Code:</b> FF910<br>
            <b>LPP:</b> QNC - STAFFORDSHIRE & STOKE ON TRENT STP<br>
            <b>Payment date:</b> 1 November 2021
          </p>

          <div class="nhsuk-form-group" style="margin-bottom: 36px">

            <table role="table" class="nhsuk-table-responsive">
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Description
                  </th>
                  <th role="columnheader" class="" scope="col">
                    TBC
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Amount
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Description </span>Essential Small Pharmacy Scheme
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">TBC no answer</span>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading">Amount </span>£145.21
                  </td>
                </tr>

              </tbody>
            </table>

            <p class="nhsuk-u-margin-top-4" style="float:right; clear: both;"><b>Total amount authorised by LPP:</b> £145.21</p>

          </div>

          <div class="nhsuk-form-group" style="margin-bottom: 36px">

            <!--<dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Essential Small Pharmacy Scheme amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Pre-registration trainee TBC
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Pre-registration trainee amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Protected/Establishment Top Up amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Advances for high cost - Rem amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Advances for high cost - Drug amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Recover high cost items - Rem amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Recover high cost items - Drug amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Needle and syringe exchange scheme amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Temporary safeguard payment amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                Collection of unused drugs amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Welfare milk amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local scheme 1 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Formulary development amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local scheme 2 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local scheme 4 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Bottle storage amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  LPC - Voluntary Levy amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  LPC - Statutory Levy amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Oxygen Therapy Service (Hardware) amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Oxygen Therapy Service (Service Element) amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 3 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Instalment dispensing amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Fine for Breach of Service amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  LPC Voluntary Levy LPP adjustment amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  LPC Statutory Levy LPP adjustment amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Oxygen Headset Decomissioning Fee amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Advice to Care Homes amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Additional Pharmacist Access Services amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Pharmaceutical Services amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Pharmaceutical Services (OOH) amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Practice payment adjustment amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Medicine use reviews adjustment amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Stoma customisation fee adjustment amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 5 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 6 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 7 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 8 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 9 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 10 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 11 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 12 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 13 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 14 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 15 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Appliance use reviews adjustment amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  Local Scheme 16 amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  NMS Fee Adjustment amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key" style="width:70%">
                  NMS Implementation Payment Adjustment amount
                </dt>
                <dd class="nhsuk-summary-list__value">

                </dd>
                <dd class="nhsuk-summary-list__actions">
                  <a href="Drug-appliance-costs-change">
                    Change<span class="nhsuk-u-visually-hidden"> [key text]</span>
                  </a>
                </dd>
              </div>

            </dl>

          <p class="nhsuk-u-margin-top-4""><b>Total amount authorised by LPP:</b> £0</p>
          -->
          </div>


          <div class="nhsuk-form-group" style="clear: both;">
            <a id="enter_experience_criteria" class="nhsuk-button nhsuk-button--secondary" href="authorised-LPP-change" role="button" draggable="false">
              Change payments
            </a>
            <br>
            <button class="nhsuk-button" type="submit">
            Save and continue
            </button>
          </div>

        </div>
      </div>


      </form>
  </main>
</div>


  {% endblock %}
</body>

</html>
