<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
<!DOCTYPE html>
<html>

<head>
   <title></title>
</head>

<body>
   {% extends 'layout.html' %}
   <!--
         In /views/layout.html you can:
           - change the header and footer
           - add custom CSS and JavaScript
         -->
   <!-- Set the page title inside the pageTitle block -->
   {% block pageTitle %} Direct Payments to Contractors {% endblock %}
   <!-- Breadcrumb goes inside the beforeContent block -->
   {% block beforeContent %} {% endblock %}
   <!-- Your page content goes inside the content block -->
   <!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
   {% block content %}
   <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
         <!-- Change the page title here -->
         <h1>Direct Payments to Contractors <span class="nhsuk-caption-xl nhsuk-caption--bottom">Internally accessed service</span>
         </h1>
         <!-- Add your content here -->
         <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
         <p class="nhsuk-body-l">DPC (Direct Payments to Contractors) is a financial service which is used to issue payments to over 11,000 contractors across England and the Isle of Man e.g. Pharmacists, Appliance Contractors etc...</p>

         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">Private Beta</span>
            </summary>
            <div class="nhsuk-details__text">

              <details class="nhsuk-details nhsuk-expander">
                 <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text"><small>E-Schedule & Manage LAP users</small></span>
                 </summary>
                 <div class="nhsuk-details__text">
                    <h2 class="nhsuk-heading-m">Version 7</h2>

                       <h3 class="nhsuk-heading-m">What we created:</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                         <li>View and manage E-Schedules</li>
                         <li>Create E-Schedules</li>
                         <li>Manage LAP users (search, change details, unlock and inactivate)</li>
                         <li>Schedule authorised payments change all payments as well as adding, changing and removing individual payments</li>
                         <li>Appliance Contractors and Isle of Man payment runs</li>
                         <li>Payment run complete page with data summary</li>
                       </ul>
                       <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                          <li></li>
                            <!--<ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                              <li style="margin-left:2em"><a href="https://nhsbsauk-my.sharepoint.com/:v:/r/personal/rsimm_nhsbsa_nhs_uk/Documents/Recordings/SME%20Weekly%20Catch%20up-20220705_101205-Meeting%20Recording.mp4?csf=1&web=1&e=SNCuUV">initial research questions - recording</a></li>
                              <li style="margin-left:2em; padding-bottom: 0;"><a href="https://docs.google.com/document/d/1_W15XdewIpdKLYqAGnPXZatjAoda3ghc/edit?usp=sharing&ouid=109651647922604679166&rtpof=true&sd=true">initial research questions - notes</a></li>
                             </ol>-->
                       </ul>
                       <h3 class="nhsuk-heading-m">What we found:</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                         <li>E-Schedules explanation session with Andrew Gray</li>
                           <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                             <li style="margin-left:2em"><a href="https://nhsbsauk-my.sharepoint.com/:v:/g/personal/jrhut_nhsbsa_nhs_uk/ESctKIGrRR9ItdGY6hSVbd0BVqasXhFqK7zq1eK1YP6_9Q?e=1mR9R6">recording</a></li>
                             <li style="margin-left:2em; padding-bottom: 0;"><a href="https://nhsbsauk-my.sharepoint.com/:w:/g/personal/jrhut_nhsbsa_nhs_uk/EXUbEQWm6PFArJAqct5BZHMBubfTyX3qtmUCcOyof67oVw?e=C4QBFP">notes</a></li>
                            </ol>
                          <li>E-Schedules usability testing session with Andrew Gray</li>
                            <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                              <li style="margin-left:2em"><a href="https://nhsbsauk-my.sharepoint.com/:v:/g/personal/jrhut_nhsbsa_nhs_uk/EURULtgSJZ9Nmg4bTDYDUigBKjTdsSUy8JQyOqsf4pIvOw?e=r172Hl">recording</a></li>
                              <li style="margin-left:2em"><a href="https://docs.google.com/document/d/1pHC7INe11kFK2v_N4wr3teR3kHcxwMHjIN1kQV3_ZNo/edit?usp=sharing">notes</a></li>
                              https://docs.google.com/document/d/1pHC7INe11kFK2v_N4wr3teR3kHcxwMHjIN1kQV3_ZNo/edit?usp=sharing
                             </ol>
                         <li>Manage LAP users usability testing session with Kate Nordstrom</li>
                           <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                             <li style="margin-left:2em"><a href="https://nhsbsauk-my.sharepoint.com/:v:/g/personal/jrhut_nhsbsa_nhs_uk/EctTj1-jCC9Kt51wJL8deCQBIyw5-fKbyh90qJnOQPO7uw?e=ITGkiX">recording</a></li>
                             <li style="margin-left:2em"><a href="https://docs.google.com/document/d/1sF5aZEb13T2L11YU8gKQHgECijwrNaW9WM0WmbVpDE0/edit?usp=sharing">notes</a></li>
                            </ol>
                       </ul>
                       <h3 class="nhsuk-heading-m">Any known issues?</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                          <li></li>
                       </ul>
                       <hr>
                       <p class="nhsuk-u-margin-bottom-0"><a href="v7/login/sign-in"><button class="nhsuk-button" type="submit">View Prototype (v7)</button></a></p>


                 </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                 <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text"><small>Reports</small></span>
                 </summary>
                 <div class="nhsuk-details__text">
                    <h2 class="nhsuk-heading-m">Version 6</h2>

                       <h3 class="nhsuk-heading-m">What we created:</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                         <li>Ability to create reports from templates</li>
                         <li>Ability to create batch reports and generate multiple reports at once</li>
                       </ul>
                       <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                          <li>Reports</li>
                            <!--<ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                              <li style="margin-left:2em"><a href="https://nhsbsauk-my.sharepoint.com/:v:/r/personal/rsimm_nhsbsa_nhs_uk/Documents/Recordings/SME%20Weekly%20Catch%20up-20220705_101205-Meeting%20Recording.mp4?csf=1&web=1&e=SNCuUV">initial research questions - recording</a></li>
                              <li style="margin-left:2em; padding-bottom: 0;"><a href="https://docs.google.com/document/d/1_W15XdewIpdKLYqAGnPXZatjAoda3ghc/edit?usp=sharing&ouid=109651647922604679166&rtpof=true&sd=true">initial research questions - notes</a></li>
                             </ol>-->
                       </ul>
                       <h3 class="nhsuk-heading-m">What we found:</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                          <li><a href="https://nhsbsauk.sharepoint.com/:x:/t/TechnologyApplications289-DPC/ESz3o65e6mBIjyByZqDtFRUB2Y4_Xhx9dVpuqFgPcRm7Bg?e=h2pwWy">Adeshina research agreed reports to continue using / discontinue</a></li>
                          <li><a href="https://nhsbsauk-my.sharepoint.com/:v:/r/personal/rsimm_nhsbsa_nhs_uk/Documents/Recordings/Reports%20Kick%20off-20220830_140155-Meeting%20Recording.mp4?csf=1&web=1&e=fTkmIg">Reports first draft user testing with CPT</a></li>
                          <li><a href="https://nhsbsauk-my.sharepoint.com/:v:/r/personal/rsimm_nhsbsa_nhs_uk/Documents/Recordings/SME%20Weekly%20Catch%20up-20220906_101104-Meeting%20Recording.mp4?csf=1&web=1&e=92nzft">Reports user testing with CPT</a></li>
                       </ul>
                       <h3 class="nhsuk-heading-m">Any known issues?</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                          <li></li>
                       </ul>
                       <hr>
                       <p class="nhsuk-u-margin-bottom-0"><a href="v6/login/sign-in"><button class="nhsuk-button" type="submit">View Prototype (v6)</button></a></p>


                 </div>
              </details>

              <details class="nhsuk-details nhsuk-expander">
                 <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text"><small>Status monitor, payment upload and schedule messaging</small></span>
                 </summary>
                 <div class="nhsuk-details__text">
                    <h2 class="nhsuk-heading-l">Status monitor, payment upload and schedule messaging</h2>

                    <details class="nhsuk-details nhsuk-expander">
                    <summary class="nhsuk-details__summary">
                       <span class="nhsuk-details__summary-text">
                          <small>Version 5</small>
                       </span>
                    </summary>
                    <div class="nhsuk-details__text">

                       <h3 class="nhsuk-heading-m">What we created:</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                         <li>Status monitor and audit</li>
                         <li>Payment upload</li>
                         <li>Schedule messaging</li>
                       </ul>
                       <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                          <li>Status monitor and audit</li>
                            <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                              <li style="margin-left:2em"><a href="https://nhsbsauk-my.sharepoint.com/:v:/r/personal/rsimm_nhsbsa_nhs_uk/Documents/Recordings/SME%20Weekly%20Catch%20up-20220705_101205-Meeting%20Recording.mp4?csf=1&web=1&e=SNCuUV">initial research questions - recording</a></li>
                              <li style="margin-left:2em; padding-bottom: 0;"><a href="https://docs.google.com/document/d/1_W15XdewIpdKLYqAGnPXZatjAoda3ghc/edit?usp=sharing&ouid=109651647922604679166&rtpof=true&sd=true">initial research questions - notes</a></li>
                             </ol>
                           <li>Status monitor user testing and Payment upload initial questions</li>
                             <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                               <li style="margin-left:2em"><a href="https://nhsbsauk-my.sharepoint.com/:v:/r/personal/rsimm_nhsbsa_nhs_uk/Documents/Recordings/Status%20monitor%20and%20manual%20upload%20walk%20through-20220708_100120-Meeting%20Recording.mp4?csf=1&web=1&e=3qGoG9">recording</a></li>
                               <li style="margin-left:2em; padding-bottom: 0;"><a href="https://docs.google.com/document/d/1D9I3eIXf_RE4H8YPPoF4tT09kFx4WIde/edit?usp=sharing&ouid=109651647922604679166&rtpof=true&sd=true">notes</a></li>
                              </ol>
                            <li>Payment upload testing and schedule messaging initial questions</li>
                              <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                                <li style="margin-left:2em"><a href="https://nhsbsauk-my.sharepoint.com/:v:/r/personal/rsimm_nhsbsa_nhs_uk/Documents/Recordings/SME%20Weekly%20Catch%20up-20220719_101126-Meeting%20Recording.mp4?csf=1&web=1&e=3xDBK2">recording</a></li>
                               </ol>
                       </ul>
                       <h3 class="nhsuk-heading-m">What we found:</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                          <li>Status monitor is used to check the statuses of LPP data submitted through LAP</li>
                          <li>LPP's can be re-opened if data needs ammending and will be automatically closed after reopen</li>
                          <li>Payment upload includes errors that block upload and warning that need flagging.</li>
                          <li>Schedule messaging last used in 2019 (3 years approx.) rarely used but adds messages to all contractor schedules.</li>
                       </ul>
                       <h3 class="nhsuk-heading-m">Any known issues?</h3>
                       <ul class="nhsuk-list nhsuk-list--bullet">
                          <li></li>
                       </ul>
                       <hr>
                       <p class="nhsuk-u-margin-bottom-0"><a href="v5/login/sign-in"><button class="nhsuk-button" type="submit">View Prototype (v5)</button></a></p>

                       <!--<div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
                          <a class="nhsuk-action-link__link" href="v1/user-journey">
                             <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path
                                   d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                                </path>
                             </svg>
                             <span class="nhsuk-action-link__text">View user journey (v1)</span>
                          </a>
                       </div>
                       -->
                    </div>
                    </details>

                 </div>
              </details>

               <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                  <summary class="nhsuk-details__summary">
                     <span class="nhsuk-details__summary-text"><small>Manage contractors and Payment runs</small></span>
                  </summary>
                  <div class="nhsuk-details__text">
                     <h2 class="nhsuk-heading-l">Manage contractors and payment runs continued</h2>

                     <details class="nhsuk-details nhsuk-expander">
                     <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                           <small>Version 4</small>
                        </span>
                     </summary>
                     <div class="nhsuk-details__text">

                        <h3 class="nhsuk-heading-m">What we created:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                          <li>Sign in and landing page combined</li>
                          <li>Manage contractor schedule and manage payments</li>
                          <li>Payment run summary data accessed from task list and linked from closed months</li>
                          <li>New statistics added to late advance data step and link to summary data from complete payment run page</li>
                          <li>Download summary data using <a href="https://components.publishing.service.gov.uk/component-guide/attachment">GOV publishing attachment component</a></li>
                          <li>Where there's multiple change links changed to a single change button, cancel changes links and Green buttons accurate to whether it saves or not.</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>Payment run statistics in open and closed months</li>
                           <li>Completing / closing a payment run</li>
                           <li>Manage contractors, schedule and manage payments</li>
                           <li>Payment run summary data view and download</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">What we found:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li><a href="https://nhsbsauk.sharepoint.com/:v:/t/TechnologyApplications289-DPC/EaA8U3wtEjJPhojDJXgFQ3ABSl89Gh_u8WALF_UYUFm_Nw?e=MT9cbV">Card sort with Customer Payment Team regarding payment run data</a></li>
                           <li>CPT users needed the ability to quickly navigate between schedule and Manual payment months when searching for payments therefore addition of month navigation added to bottom of pages</li>
                           <li>CPT users needed the ability to quickly navigate between schedule groups therefore side navigation added</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">Any known issues?</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li></li>
                        </ul>
                        <hr>
                        <p class="nhsuk-u-margin-bottom-0"><a href="v4/login/sign-in"><button class="nhsuk-button" type="submit">View Prototype (v4)</button></a></p>

                        <!--<div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
                           <a class="nhsuk-action-link__link" href="v1/user-journey">
                              <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path d="M0 0h24v24H0z" fill="none"></path>
                                 <path
                                    d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                                 </path>
                              </svg>
                              <span class="nhsuk-action-link__text">View user journey (v1)</span>
                           </a>
                        </div>
                        -->
                     </div>
                     </details>

                     <details class="nhsuk-details nhsuk-expander">
                     <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                           <small>Version 3</small>
                        </span>
                     </summary>
                     <div class="nhsuk-details__text">

                        <h3 class="nhsuk-heading-m">What we created:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>Find a contractor search</li>
                           <li>Find a contractor search results</li>
                           <li>Manage contractor</li>
                           <li>Manage contractor tabs excluding schedule and manual payment</li>
                           <li>Page width of site increased to better display lots of content</li>
                           <li>start and sign in content changes</li>
                           <li>Payment run overview statuses and month changes</li>
                           <li>Schedule dates changed to only displaying a year at a time due to long load time</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>What details do users search using and can the advanced search in the old service be reduced?</li>
                           <li>What details are needed to identify the correct contractor from search results?</li>
                           <li>A/B testing of all of the manage contractor details in tabs and primary details always displayed with tabs for extra details</li>
                           <li>Whether tick and cross icons is the best way to display contractor details</li>
                           <li>Changing contractor details on a new page</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">What we found:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>OCS code is by far the most common method of searching but the majority of advanced search fields have been used with vague details given to search by e.g. sort-code</li>
                           <li>Generic CPT email to be used for users requesting access to the system</li>
                           <li>Will search by all active contractors and create a report of the results to compare to offline sheet data</li>
                           <li>Search for OCS code and YP Code (Group) in the same field</li>
                           <li>OCS code main identifier used so moved to first column in search results</li>
                           <li>Reset button used to start a new search and remove previous field entries</li>
                           <li>LPP code useful for checking contractor rather than just the location</li>
                           <li>History details useful and used to check for fraud</li>
                           <li>Useful to be able to check changes made before saving them</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">Any known issues?</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>Manual payments and schedule to be designed separately due to size of content.</li>
                        </ul>
                        <hr>
                        <p class="nhsuk-u-margin-bottom-0"><a href="v3/start"><button class="nhsuk-button" type="submit">View Prototype (v3)</button></a></p>

                        <!--<div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
                           <a class="nhsuk-action-link__link" href="v1/user-journey">
                              <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path d="M0 0h24v24H0z" fill="none"></path>
                                 <path
                                    d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                                 </path>
                              </svg>
                              <span class="nhsuk-action-link__text">View user journey (v1)</span>
                           </a>
                        </div>
                        -->
                     </div>
                     </details>

                  </div>
               </details>
            </div>
         </details>

         <hr>

         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">Alpha</span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Off the back of Discovery, our 4 most riskiest assumptions that we have chosen to prioritise as a team within Alpha are; payment runs, data feeds, reporting and contractor's schedules.</p>
               <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
                  <summary class="nhsuk-details__summary">
                     <span class="nhsuk-details__summary-text"><small>Payment Runs</small></span>
                  </summary>
                  <div class="nhsuk-details__text">
                     <h2 class="nhsuk-heading-l"><span class="nhsuk-caption-l nhsuk-caption--top">Pharmacy</span> Payment Run

                     </h2>
                     <h3 class="nhsuk-heading-m">Hypothesis A</h3>
                     <p style="background: #DEE0E2; padding: 20px;"><strong>We believe</strong> that having the ability to preview data before starting each step of a payment run <strong>will be a useful feature for</strong>
                        the Customer Payments Team <strong>as it will</strong> give them the confidence that the data being used is up to date. <strong>This will</strong> reduce the amount of additional manual checks that the team is currently performing.</p>
                     <hr>

                     <details class="nhsuk-details nhsuk-expander">
                     <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                           <small>Version 1</small>
                        </span>
                     </summary>
                     <div class="nhsuk-details__text">

                        <h3 class="nhsuk-heading-m">What we created:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>Login</li>
                           <li>Dashboard</li>
                           <li>Payment Run</li>
                           <li>Payment Run (Monthly Breakdown)</li>
                           <li>Payment Run Steps</li>
                           <li>Payment Run Data Preview</li>
                           <li>Closing the Payment Run</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>Does the information architecture of the site make it easy to navigate, as well as adaptable for the future?</li>
                           <li>Does previewing certain items of key data give the team the confidence of continuing each payment run step?</li>
                           <li>When errors do happen, are the error messages more understandable and do they give the team the confidence to try running the step again depending on the severity?</li>
                           <li>Is the naming convention of the newly condensed payment run steps clear and understandable to the team?</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">What we found:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>In principle, previewing key bits of data would work and reduce the number of times the CPT have to exit the payment run to run individual reports to check single figures.</li>
                           <li>Rather than add in the key dates for the following months payment run when closing the current one, the team often add / amend these dates in one go.</li>
                           <li>If there was any error message, the team would always request help from the support team - regardless of severity.</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">Any known issues?</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>Header and Footer links don't go anywhere</li>
                           <li>Only November 2021 payment run is available</li>
                        </ul>
                        <hr>
                        <p class="nhsuk-u-margin-bottom-0"><a href="v1/start"><button class="nhsuk-button" type="submit">View Prototype (v1)</button></a></p>

                        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
                           <a class="nhsuk-action-link__link" href="v1/user-journey">
                              <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path d="M0 0h24v24H0z" fill="none"></path>
                                 <path
                                    d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                                 </path>
                              </svg>
                              <span class="nhsuk-action-link__text">View user journey (v1)</span>
                           </a>
                        </div>

                     </div>
                     </details>

                     <details class="nhsuk-details nhsuk-expander">
                     <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                           <small>Version 2</small>
                        </span>
                     </summary>
                     <div class="nhsuk-details__text">

                        <h3 class="nhsuk-heading-m">What we created:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>Added in Payment Run IDs on the monthly view screen to allow the CPT to quickly reference each month without having to leave the service.</li>
                           <li>Added the ability to add in multiple key payment dates for current / future payment runs, rather than at the completion of the previous month.</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>...</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">What we found:</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>...</li>
                        </ul>
                        <h3 class="nhsuk-heading-m">Any known issues?</h3>
                        <ul class="nhsuk-list nhsuk-list--bullet">
                           <li>Header and Footer links don't go anywhere</li>
                           <li>Only November 2021 payment run is available</li>
                        </ul>
                        <hr>
                        <p class="nhsuk-u-margin-bottom-0"><a href="v2/start"><button class="nhsuk-button" type="submit">View Prototype (v2)</button></a></p>

                        <div class="nhsuk-action-link nhsuk-u-margin-bottom-3">
                           <a class="nhsuk-action-link__link" href="v2/user-journey">
                              <svg aria-hidden="true" class="nhsuk-icon nhsuk-icon__arrow-right-circle" viewbox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                 <path d="M0 0h24v24H0z" fill="none"></path>
                                 <path
                                    d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                                 </path>
                              </svg>
                              <span class="nhsuk-action-link__text">View user journey (v2)</span>
                           </a>
                        </div>

                     </div>
                     </details>




                  </div>
               </details>
            </div>
         </details>

         <hr>

         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">Discovery</span>
            </summary>
            <div class="nhsuk-details__text">

                     <h2 class="nhsuk-heading-l">Discovery</h2>
<ol>
  <li><a href="https://miro.com/app/board/o9J_l5b1N2Q=/" target="_blank">Discovery Kick-Off</a></li>
  <li><a href="https://nhsbsauk.sharepoint.com/teams/TechnologyApplications289-DPCUROps/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc={D3526270-8658-415B-ABB5-2463565CF013}" target="_blank">Discovery Questions &amp; Assumptions</a></li>
  <li><a href="https://miro.com/app/board/o9J_l5WQfs4=/" target="_blank">'As Is' Journeys and Pain Points</a></li>
  <li><a href="https://nhsbsauk.sharepoint.com/teams/TechnologyApplications289-DPC/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc={2242CEDE-2FBC-46A2-AAFE-A07F0866FBC9}" target="_blank">Personas</a></li>
  <li><a href="https://miro.com/app/board/o9J_ly9pDaM=/" target="_blank">Prototype Sketches / User Flows</a></li>
  <li><a href="https://teams.microsoft.com/l/file/3E5DFF25-26CA-4B0C-ABFF-9539F4BEC417?tenantId=cf6d0482-86b1-4f88-8c0c-3b4de4cb402c&fileType=pptx&objectUrl=https%3A%2F%2Fnhsbsauk.sharepoint.com%2Fteams%2FTechnologyApplications289-DPC%2FShared%20Documents%2FDPC%2FOur%20work%20on%20DPC%2F1.%20Discovery%2F2.%20Discovery%20outputs%2Fv2.0%20Discovery%20report%20-%20TEAM%20version.pptx&baseUrl=https%3A%2F%2Fnhsbsauk.sharepoint.com%2Fteams%2FTechnologyApplications289-DPC&serviceName=teams&threadId=19:bd7ed2f818d64a23b80e4dd3f4471efb@thread.tacv2&groupId=196d8f4e-94f8-48b7-ae94-a45a7fa6dabb" target="_blank">Discovery Report (11/10/2021)</a></li>

</ol>

            </div>
         </details>
         <!-- End of content -->
      </div>
   </div>
   {% endblock %}
</body>

</html>
